.my-container {
    height: calc(100vh - 80px) !important;
    padding: 15px;
}

header {
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.example-card {
    max-width: 800px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.mgtop {
    height: calc(100vh - 362px) !important;
    margin-top: 15px;
}

.mat-table-sticky {
    background: #f6fbe6;
    // background: white;
    opacity: 1;
}

.mat-row:hover {
    background: whitesmoke;
}