<div fxFlex="row wrap" class="my-container">
    <div class="card">
        <header [formGroup]="myGroup" class="module-header padding-15" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex.gt-sm="47" fxFlex.lt-md="100" appearance="outline" color="warn">
                <mat-label>Código del producto</mat-label>
                <span matPrefix *ngIf="!myGroup.get('searchCode').invalid" class="inputPresentation">{{
                myGroup.get('searchCode').value.barcode }} &nbsp;</span>
                <input #searchCode matInput [matAutocomplete]="autoCode" formControlName="searchCode" placeholder="Ej. 1995" aria-label="State">
                <mat-error *ngIf="this.myGroup.get('searchCode').invalid">
                    Seleccione un producto de la lista.
                </mat-error>
                <mat-autocomplete #autoCode="matAutocomplete" [displayWith]="getShowDescription" (optionSelected)="searchStock($event.option.value)">
                    <mat-option *ngIf="isLoading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let product of filteredProducts" [value]="product">
                            <div fxFlex="row wrap">
                                <span><b>{{product.barcode}}</b> | {{product.description}} | {{
                                product._brand.name }}</span>
                                <div fxFlex></div>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <button *ngIf="myGroup.get('searchCode').value" matSuffix mat-icon-button aria-label="Clear" (click)="myGroup.get('searchCode').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
                <mat-hint>Ingrese el código del producto</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="50" fxFlex.lt-md="100" appearance="outline" color="warn">
                <mat-label>Nombre + Punto + Laboratorio</mat-label>
                <span matPrefix *ngIf="!myGroup.get('searchDescription').invalid" class="inputPresentation">{{
            myGroup.get('searchDescription').value.barcode }} &nbsp;</span>
                <input matInput [matAutocomplete]="autoDescription" formControlName="searchDescription" placeholder="Ej. acetami.caplin" aria-label="State">
                <mat-error *ngIf="this.myGroup.get('searchDescription').invalid">
                    Seleccione un producto de la lista.
                </mat-error>
                <mat-autocomplete #autoDescription="matAutocomplete" [displayWith]="getShowDescription" (optionSelected)="searchStock($event.option.value);">
                    <mat-option *ngIf="isLoading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let product of filteredProducts" [value]="product">
                            <div fxFlex="row wrap">
                                <span><b>{{product._brand.name}}</b> | {{product.description}}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <button *ngIf="myGroup.get('searchDescription').value" matSuffix mat-icon-button aria-label="Clear" (click)="myGroup.get('searchDescription').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
                <mat-hint>Ingrese el nombre del PRODUCTO + PUNTO + nombre del LABORATORIO</mat-hint>
            </mat-form-field>
        </header>
        <div fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-evenly center" fxLayout.lt-md="column" fxLayoutGap.lt-md="15px">
            <mat-card class="example-card mat-elevation-z4">
                <mat-card-header>
                    <mat-icon mat-card-avatar>attach_money</mat-icon>
                    <mat-card-subtitle>Consumidor Final</mat-card-subtitle>
                    <mat-card-title>Q{{cf_price | number: '.0' }}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="end center">
                    <mat-icon color="primary">groups</mat-icon>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card mat-elevation-z4">
                <mat-card-header>
                    <mat-icon mat-card-avatar>attach_money</mat-icon>
                    <mat-card-subtitle>Minorista</mat-card-subtitle>
                    <mat-card-title>Q{{retail_price | number: '.0' }}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="end center">
                    <mat-icon color="primary">person_remove</mat-icon>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="showPrices" class="example-card mat-elevation-z4">
                <mat-card-header>
                    <mat-icon mat-card-avatar>attach_money</mat-icon>
                    <mat-card-subtitle>Mayorista</mat-card-subtitle>
                    <mat-card-title>Q{{wholesale_price | number: '.0' }}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="end center">
                    <mat-icon color="primary">person_add_alt_1</mat-icon>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="showPrices" class="example-card mat-elevation-z4">
                <mat-card-header>
                    <mat-icon mat-card-avatar>attach_money</mat-icon>
                    <mat-card-subtitle>Distribuidor</mat-card-subtitle>
                    <mat-card-title>Q{{distributor_price | number: '.0' }}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="end center">
                    <mat-icon color="primary">person_pin</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayoutAlign="center center">
            <h2>{{ selectedProduct._brand.name }}</h2>
        </div>
        <div fxLayoutAlign="center center">
            <h3>{{ selectedProduct.description }}</h3>
        </div>
        <ngx-simplebar class="mgtop" *ngIf="!loading">
            <mat-divider></mat-divider>
            <table mat-table [dataSource]="dataSource" class="noborder-table ">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon color="primary" class="material-icons-outlined">inventory_2</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cellarName">
                    <th mat-header-cell *matHeaderCellDef> Sucursal </th>
                    <td mat-cell *matCellDef="let element"> {{element._cellar.name}} </td>
                </ng-container>
                <ng-container matColumnDef="availability">
                    <th mat-header-cell *matHeaderCellDef> Inventario </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip *ngIf="element.stock < 1">
                                Sin existencia
                            </mat-chip>
                            <mat-chip *ngIf="element.stock > 0" selected color="warn">
                                Disponibles
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Inventario </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.stock }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastUpdateStock">
                    <th mat-header-cell *matHeaderCellDef>Última actualización</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="text-muted"> {{ element.lastUpdateStock | date: 'dd/MM/yyyy HH:mm' }}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row">
                </tr>
            </table>
        </ngx-simplebar>
        <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
        </div>
    </div>
</div>