<div fxFlex fxLayout="column" class="section-content">
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
    <header class="module-header section" fxLayout="row wrap">
        <button mat-icon-button class="close-button" [routerLink]="'/purchases'">
      <mat-icon>close</mat-icon>
    </button>
        <h2 color="accent" class="ma-0 info-row T">Requisición #{{ form.get('requisition').value }}</h2>
        <div fxFlex></div>
        <h2 class="ma-0 info-row">{{ form.get('_provider').value ? form.get('_provider').value.name : '' }}</h2>
        <br>
    </header>
    <div fxLayout="row" class="totalP">
        <div fxFlex></div>
        <p>
            <span *ngIf="form.get('created').value">
        {{  form.get('created').value | date: 'dd/MM/yyyy HH:mm' }}
      </span> - {{ form.get('_user').value ? form.get('_user').value.name : '' }}</p>
    </div>
    <div fxLayout="column" class="totalP">
        <form [formGroup]="form" autocomplete="off">
            <div class="card mat-elevation-z2 my-container" data-simplebar>
                <div fxLayout="row">
                    <div fxFlex="20px"></div>
                    <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                        <mat-icon color="accent" class="material-icons-outlined">summarize
                        </mat-icon>
                    </div>
                    <div fxFlex class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Factura</mat-label>
                            <input #noBill formControlName="noBill" type="text" matInput placeholder="Ingrese el No. de factura">
                        </mat-form-field>
                    </div>
                    <div fxFlex class="inputpadding">
                        <mat-form-field appearance="outline" class="width-all">
                            <mat-label>
                                Archivo
                            </mat-label>
                            <ngx-mat-file-input #removableInput formControlName="file" placeholder="Ingrese un archivo">
                            </ngx-mat-file-input>
                            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                <mat-icon>clear</mat-icon>
              </button>
                        </mat-form-field>
                    </div>
                    <div fxFlex class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" title="Fecha de la factura" placeholder="Ingrese una fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20px"></div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20px"></div>
                    <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                        <mat-icon color="accent" class="material-icons-outlined">info
                        </mat-icon>
                    </div>
                    <div fxFlex class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Detalles</mat-label>
                            <textarea formControlName="details" matInput rows="6" cols="75" placeholder="Observaciones..."></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20px"></div>
                </div>
                <div class="detail-container" data-simplebar>
                    <table mat-table [dataSource]="dataSource" formArrayName="detail">

                        <ng-container matColumnDef="presentation">
                            <th mat-header-cell *matHeaderCellDef> present. </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                {{ detailForm.at(index).get('presentation').value.name }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="_product">
                            <th mat-header-cell *matHeaderCellDef> Producto </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                {{ detailForm.at(index).get('_product').value.description}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="quantity" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Precio Unitario (Q) </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="price" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="bonus">
                            <th mat-header-cell *matHeaderCellDef> Bono </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="bonus" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef> Descuento (%) </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="discount" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total (Q) </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="total" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="cost">
                            <th mat-header-cell *matHeaderCellDef> Costo Unitario (Q) </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                {{ detailForm.at(index).get('cost').value | number: '.2' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="realQuantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad real </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputWidth">
                                    <input matInput formControlName="realQuantity" type="number" placeholder="0" aria-label="Number">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="expirationDate">
                            <th mat-header-cell *matHeaderCellDef> Fecha de vencimiento </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                <mat-form-field appearance="outline" color="primary" class="inputDateWidth">
                                    <input matInput fxFlex [matDatepicker]="picker" formControlName="expirationDate" placeholder="dd/mm/aaaa">
                                    <mat-datepicker-toggle matSuffix fxFlex="20" [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
                    </table>

                </div>
                <div class="section" fxLayout="row wrap">
                    <div fxFlex="100" fxLayoutAlign="center center" fxLayout="row wrap">
                        <h3 class="product-font ma-0">Cantidad: {{ detailForm.length }}</h3>
                        <span fxFlex></span>
                        <button mat-raised-button class="close-button" [routerLink]="'/purchases'" style="color:brown;">
              CANCELAR
            </button>
                        <button *ngIf="!loading" mat-raised-button [disabled]="form.invalid" (click)="savePurchase()" color="warn" class="close-button">
              CREAR NUEVA FACTURA
            </button>
                        <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
                        </mat-progress-spinner>
                        <span fxFlex></span>
                        <h2 class="product-font ma-0">TOTAL: Q. {{ getTotal() | number: '.2' }}</h2>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>