<ngx-simplebar class="layout">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>2 Facturas emitidas</span>
        <b>+ Q550.00</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>1 Notas de abono</span>
        <b>- Q50.00</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>1 Nota de crédito</span>
        <b>- Q100.00</b>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Total</span>
        <h2>Q400.00</h2>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout="column">
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>No. Cheque</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>Lugar</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" title="Fecha del cheque" placeholder="Ingrese una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>Paguese a: </mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>Descripción</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field fxFill appearance="outline" color="accent">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="docType" name="docType">
                <mat-option value="FACTURA">
                    Creado
                </mat-option>
                <mat-option value="CAMBIARIA">
                    Pendiente de autorización
                </mat-option>
                <mat-option value="PEQUEÑO">
                    Autorizado
                </mat-option>
                <mat-option value="ABONO">
                    Entregado
                </mat-option>
                <mat-option value="CREDITO">
                    Creado-Interbanco
                </mat-option>
                <mat-option value="CREDITO">
                    Pagado
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</ngx-simplebar>