<div fxFlex fxLayout="column" class="section-content">
    <div fxLayout="row">
        <header class="module-header p-10" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
            <button mat-icon-button class="close-button" [routerLink]="'/purchases'">
        <mat-icon>close</mat-icon>
      </button>
            <h2 color="accent" class="ma-0 info-row T">Actualizador de precios</h2>
        </header>
    </div>
    <div *ngIf="purchase" fxFlex fxLayout="row">
        <div fxFlex fxFlex.xs="100%" class="section">
            <div class="card mat-elevation-z2 my-container" data-simplebar>
                <div class="section" fxLayout="row wrap">
                    <h2 color="primary" class="product-font ma-0">Factura no. {{purchase.noBill}}</h2>
                    <div fxFlex></div>
                    <h4 color="primary" class="product-font ma-0">Creada: {{purchase.created | date: 'dd/MM/yyyy HH:mm'}}</h4>
                </div>
                <div class="section" fxLayout="row wrap">
                    <div class="header" fxFlex="100" fxLayout="row wrap">
                        <div fxFlex="70%" class="ellipsis-text cell header-cell">Producto</div>
                        <div fxFlex></div>
                        <div fxFlex class="ellipsis-text cell header-cell">
                            <mat-icon class="material-icons-outlined cursor-pointer">swap_vert</mat-icon>
                        </div>
                        <div fxFlex="nogrow" class="ellipsis-text cell header-cell">
                        </div>
                    </div>
                    <div fxFlex="100" fxLayout="row wrap" *ngIf="purchase.detail.length > 0">
                        <div class="row" *ngFor="let p of purchase.detail; let i = index" fxFlex="100" (click)="selectedProduct = p._product" fxLayoutAlign="start center" fxLayout="row wrap">
                            <div fxFlex class="ellipsis-text cell">{{p._product.description}}</div>
                            <div fxFlex="15" class="ellipsis-text cell">{{ p.changedPrice}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedProduct" fxFlex fxFlex.xs="100%" class="section">
            <div class="card mat-elevation-z2">
                <div class="section" fxLayout="row">
                    <div fxFlex="70%" fxLayout="column">
                        <h2 color="primary" class="product-font ma-0">{{selectedProduct.code}} | {{ selectedProduct.description }}
                        </h2>
                        <h3 color="primary" class="product-font ma-0">{{ selectedProduct._brand.name }} </h3>
                        <div fxFlex></div>
                    </div>
                    <div fxFlex fxLayout="column">
                        <img src="https://m.media-amazon.com/images/I/71-f3JE5F8L._SX425_.jpg" alt="">
                    </div>
                </div>
                <div class="my-container2">
                    <div class="section" fxLayout="row wrap">
                        <mat-card class="card mat-elevation-z4">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon class="material-icons-outlined">category</mat-icon>
                                </div>
                                <mat-card-title>Unidad</mat-card-title>
                                <div fxFlex></div>
                                <h2>Precios actuales</h2>
                            </mat-card-header>
                            <mat-card-content>
                                <div fxFlex fxLayout="row wrap">
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Mayorista</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="125.00" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Distribuidor</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="130.00" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Minorista</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="140.00" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Consumidor Final</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="125.00" disabled>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="section" fxLayout="row wrap">
                        <mat-card class="card mat-elevation-z4">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon class="material-icons-outlined">category</mat-icon>
                                </div>
                                <mat-card-title>Unidad</mat-card-title>
                                <div fxFlex></div>
                                <h3>*Precios sugeridos</h3>
                            </mat-card-header>
                            <mat-card-content>
                                <div fxFlex fxLayout="row wrap">
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Mayorista</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="125.00">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Distribuidor</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="130.00">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Minorista</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="140.00">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="25%" class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Consumidor Final</mat-label>
                                            <input type="number" matInput placeholder="0.00" value="125.00">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="section" fxLayout="row wrap">
                    <button mat-raised-button (click)="selectedProduct = undefined" class="close-button" style="color:brown;">
            CANCELAR
          </button>
                    <div fxFlex></div>
                    <button mat-raised-button color="warn" class="close-button">
            GUARDAR PRODUCTO
          </button>
                </div>
            </div>
        </div>
        <div *ngIf="!selectedProduct" fxFlex fxFlex.xs="100%" class="section">
            <div class="section" fxLayout="row">
                <div fxFlex fxLayout="column" fxFlexAlign="center center">
                    <h2 color="primary" class="product-font ma-0">
                        <mat-icon>warning</mat-icon>
                        ¡Ningún producto seleccionado!
                    </h2>
                    <h3 color="primary" class="product-font ma-0">Por favor seleccione un producto para actualizar sus precios</h3>
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="!purchase"></app-loader>
</div>