.my-layout {
    height: calc(100vh - 122px);
}

header {
    padding: 15px 15px 15px 15px;
    background-color: #fafafa;
}

.sidenav {
    width: 100%;
    background-color: #fafafa;
    // background-color: white;
}
