<ngx-simplebar class="my-layout">
    <header fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h2 class="module-title product-font ma-0">Ingresos</h2>
        <span fxFlex></span>
        <mat-chip-list>
            <mat-chip *ngIf="searchModule('purchase')" [routerLink]="['/purchase']" [selected]="router.url === '/purchase'" color="primary" matTooltip="Requisiciones">
                <mat-chip-avatar>
                    <mat-icon>list_alt</mat-icon>
                </mat-chip-avatar>
                Requisiciones
            </mat-chip>
        </mat-chip-list>
    </header>
    <app-no-found *ngIf="modules && modules.length === 0" text="Permiso denegado" subtitle="Actualmente no cuenta con permisos para acceder a este apartado"></app-no-found>
    <router-outlet *ngIf="modules && modules.length > 0"></router-outlet>
</ngx-simplebar>