<div class="padding-15">
</div>
<div fxLayout="row wrap" class="padding-15" *ngIf="users !== undefined">

    <div *ngFor="let u of users" fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="usercard user">
        <div matRipple class="cursor-pointer user-card mat-elevation-z2" (click)="emitEvent(config.EVENT_USERS_EDIT, u)" fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex="60px">
                <img [src]="getImage(u.imageIndex)" alt="" class="avataruser">
            </div>
            <div fxFlex fxLayout="column wrap" class="ellipsis-text">
                <h4 class="ma-0 product-font">{{u.name}}</h4>
                <span class="text-muted">{{u.username}}</span>
            </div>
        </div>
    </div>
</div>

<div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="users === undefined">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>