.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.h2 {
    color: #0a1958;
}

.iconnew {
    margin-left: 325px;
}