<div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } ">
    <div class="section-content">
      <button *ngIf="!smallScreen && (productsp && productsp.includes('create'))" mat-fab color="primary" class="fab mat-elevation-z10" (click)="newCostumer()">
        <mat-icon>add</mat-icon><span class="extended-fab-button__text">Cliente</span>
      </button>
      <div>
        <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }"
          fxLayoutAlign="start center" fxLayout="row wrap">
          <h1 class="product-font ma-0 module-title">Productos</h1>
        </header>
        <mat-divider></mat-divider>

        <div fxLayout="row wrap" class="module-container " data-simplebar>
          <!-- <div class="container-strech"> -->
            <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
              <h2 class="title1 product-font ma-0">Catálogo de Productos</h2>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button *ngIf="smallScreen" class="new-button-sm" mat-icon-button (click)="newCostumer()">
                <svg class="svg-24 svg-in-button" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
              </button>

              <span fxFlex></span>
              <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                <mat-label>Buscar</mat-label>
                <mat-icon class="text-muted" matPrefix>search</mat-icon>
                <input (keyup)="applyFilter($event)" matInput type="text">
              </mat-form-field>
            </div>
            <div class="costumers-header" *ngIf="products !== undefined  && (productsp && productsp.includes('read'))">
              <!-- *****Tabla responsiva agregar: matSort matTableResponsive -------------- e importar el módulo en sharedCompnents y tambien en el style SCSS -->
              <table mat-table matSort matTableResponsive [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z2 noborder-table ">
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon color="primary" class="material-icons-outlined">person</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef> Código </th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="_brand">
                  <th mat-header-cell *matHeaderCellDef> Marca </th>
                  <td mat-cell *matCellDef="let element"> {{element._brand.name }} </td>
                </ng-container>

                <ng-container matColumnDef="wholesale_price">
                  <th mat-header-cell *matHeaderCellDef> Mayoristas </th>
                  <td mat-cell *matCellDef="let element"> {{element.wholesale_price}} </td>
                </ng-container>
                <ng-container matColumnDef="distributor_price">
                  <th mat-header-cell *matHeaderCellDef> Distribuidor </th>
                  <td mat-cell *matCellDef="let element"> {{element.distributor_price}} </td>
                </ng-container>
                <ng-container matColumnDef="retail_price">
                  <th mat-header-cell *matHeaderCellDef> Minorista </th>
                  <td mat-cell *matCellDef="let element"> {{element.retail_price}} </td>
                </ng-container>
                <ng-container matColumnDef="cf_price">
                  <th mat-header-cell *matHeaderCellDef> Consumidor final </th>
                  <td mat-cell *matCellDef="let element"> {{element.cf_price}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row"
                  (click)="editCostumer(element)">
                </tr>
              </table>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen"
              *ngIf="products === undefined">
              <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
