<div class="section-content">
    <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }"
        fxLayoutAlign="start center" fxLayout="row wrap">
        <h1 class="product-font ma-0 module-title">
            Catálogo de productos</h1>
    </header>
    <button mat-fab color="primary" class="fab mat-elevation-z10" (click)="addNewProduct()">
        <mat-icon>add</mat-icon><span class="extended-fab-button__text">Producto</span>
    </button>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" class="my-container" data-simplebar>
        <!-- <div class="container-strech"> -->
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
            <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                <mat-label>Buscar</mat-label>
                <mat-icon class="text-muted" matPrefix>search</mat-icon>
                <input matInput #search type="text">
            </mat-form-field>
            <span fxFlex></span>
        </div>
        <div *ngIf="dataSource.loading$ | async" fxLayout="column wrap" fxLayoutAlign="center center"
            class="padding-15 loader-screen">
            <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
        </div>
        <div class="allspace">
            <!-- *****Tabla responsiva agregar: matSort matTableResponsive -------------- e importar el módulo en sharedCompnents y tambien en el style SCSS -->
            <table mat-table matSort matTableResponsive [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z2 noborder-table ">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon color="primary" class="material-icons-outlined">person</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <ng-container matColumnDef="barcode">
                    <th mat-header-cell *matHeaderCellDef> Código de barras </th>
                    <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="_brand">
                    <th mat-header-cell *matHeaderCellDef> Laboratorio </th>
                    <td mat-cell *matCellDef="let element"> {{element._brand.name }} </td>
                </ng-container>

                <ng-container matColumnDef="healthProgram">
                    <th mat-header-cell *matHeaderCellDef> Programa </th>
                    <td mat-cell *matCellDef="let element"> {{element.healthProgram }} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip *ngIf="element.exempt" selected color="warn">
                                Exento
                            </mat-chip>
                            <mat-chip *ngIf="element.discontinued" style="color: brown;">
                                Descontinuado
                            </mat-chip>
                            <mat-chip *ngIf="!element.discontinued">
                                Activo
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>info</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editProduct(element)" color="warn">
                                <mat-icon class="material-icons-outlined">edit</mat-icon> Editar Producto
                            </button>
                            <button mat-menu-item (click)="delProduct(element)" color="warn">
                                <mat-icon class="material-icons-outlined">delete</mat-icon> Eliminar Producto
                            </button>

                        </mat-menu>
                    </td>
                </ng-container> -->

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                        <div class="element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div fxFlex fxLayout="row wrap ">
                                <div fxFlex="35%" class="example-element-description">
                                    <mat-tab-group>
                                        <mat-tab label="{{presentation.name}}"
                                            *ngFor="let presentation of element.presentations">

                                            <div class="container">
                                                <ul class="responsive-table">
                                                    <li class="table-row">
                                                        <div class="col col-1">Precio de Distribuidor</div>
                                                        <div class="col col-2">Q. {{presentation.distributor_price}}
                                                        </div>
                                                    </li>
                                                    <li class="table-row">
                                                        <div class="col col-1">Precio al por menor</div>
                                                        <div class="col col-2">Q. {{presentation.retail_price}} </div>
                                                    </li>
                                                    <li class="table-row">
                                                        <div class="col col-1">Precio al por mayor</div>
                                                        <div class="col col-2">Q. {{presentation.wholesale_price}}
                                                        </div>
                                                    </li>
                                                    <li class="table-row">
                                                        <div class="col col-1">Consumidor Final</div>
                                                        <div class="col col-2">Q. {{presentation.cf_price}} </div>
                                                    </li>
                                                    <li class="table-row">
                                                        <div class="col col-1"><strong> Cantidad de Unidades por
                                                                Presentación</strong>
                                                        </div>
                                                        <div class="col col-2"> <strong> {{presentation.quantity}}
                                                            </strong></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>

                                </div>
                                <mat-divider [vertical]="true"></mat-divider>
                                <div fxFlex="35%" fxHide.xs class="example-element-description">
                                    <mat-tab-group>
                                        <mat-tab label="Sustancias">
                                            <div *ngFor="let substance of element.substances">
                                                <span class="text-muted"> {{substance.name}}</span>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Sintomas">
                                            <div *ngFor="let symptom of element.symptoms">
                                                <span class="text-muted"> {{symptom.name}}</span>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>

                                </div>
                                <mat-divider [vertical]="true"></mat-divider>

                                <div fxFlex="28%">
                                    <h2>Acciones:</h2>
                                    <button mat-menu-item (click)="editProduct(element)" color="warn">
                                        <mat-icon class="material-icons-outlined">edit</mat-icon> Editar Detalles del
                                        Producto
                                    </button>
                                    <button mat-menu-item (click)="delProduct(element)" color="warn">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon> Eliminar Producto
                                    </button>
                                </div>
                            </div>


                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>
    </div>
    <div fxlayout="row wrap" fxLayoutAlign="center center" class="mat-elevation-z4">
        <mat-paginator [length]="productService.TOTAL_PRODUCTS" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>