<header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
    <h2 style="margin: 0;" class="h2">Cálculo de Acetaminofén
    </h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<br>
<br>
<div class="content">
    <mat-divider></mat-divider>
    <br><br>
    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div fxLayout="row wrap" class=" input-padding"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="end">
                <strong>
                    <h3 class=" text-muted ma-0 ">Promedio de Ventas al día:&nbsp;</h3>
                </strong>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                <strong>
                    <h3 class="input-padding">45 Unidades</h3>
                </strong>
            </div>
            <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <mat-divider></mat-divider>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="end">
                <h3 class="text-muted ma-0 ">Días utilizados para el cálculo: &nbsp;</h3>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                <h3 class="input-padding"> 17 días</h3>
            </div>
            <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <mat-divider></mat-divider>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="end">
                <h3 class="text-muted ma-0 ">Total de Abastecimiento: &nbsp;</h3>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                <h3 class="input-padding">765 Unidades</h3>
            </div>
            <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <mat-divider></mat-divider>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="end">
                <h3 class="text-muted ma-0 ">Fecha de Ultimo cálculo: &nbsp;</h3>
            </div>
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                <h3 class="input-padding">12/12/2021</h3>
            </div>
            <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <mat-divider></mat-divider>
            </div>
            <br>
            <br>
        </div>

    </div>
    <br>
    <br>
        <mat-divider></mat-divider>
</div>
<div fxLayout="row" class="header" flexlayout="center">
    <button mat-button (click)="dialogRef.close()" class="info-row">
        Cerrar
    </button>
</div>