<div fxFlex="column" class="my-container">
    <div fxFlex="row" class="card mat-elevation-z2">
        <div fxLayout="row">
            <h2>Ingreso de productos</h2>
        </div>
        <div fxLayout="row">
            <div fxFlex="20px"></div>
            <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                <mat-icon color="accent" class="material-icons-outlined">upload_file
                </mat-icon>
            </div>
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" class="width-all">
                    <mat-label>
                        .xlsx
                    </mat-label>
                    <ngx-mat-file-input #removableInput [(ngModel)]="currentFile" placeholder="Ingrese un archivo">
                    </ngx-mat-file-input>
                    <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
                </mat-form-field>
            </div>
            <div fxFlex class="inputpadding" fxLayoutAlign="start center">
                <mat-slide-toggle [(ngModel)]="withBrand">Actualizar laboratorios</mat-slide-toggle>
            </div>
            <div fxFlex="20px"></div>
        </div>
        <div fxLayout="row">
            <span fxFlex></span>
            <button *ngIf="!loading" mat-raised-button (click)="loadProducts()" color="warn">Cargar
        archivo</button>
            <span fxFlex></span>
        </div>
        <div fxLayout="row">
            <mat-progress-bar *ngIf="loading" [value]="progress" mode="determinate" color="warn">
            </mat-progress-bar>
        </div>

        <div *ngIf="loading" fxLayout="row" class="loadMargin">
            <h3>Cargando... {{ progress | number: '.2' }}%</h3>
            <span fxFlex></span>
            <h3>{{ currentIndex }}/{{ products.length }}</h3>
        </div>
    </div>
</div>