<!-- <div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } "> -->
<div class="section-content farmacia">
    <div>
        <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
            <h4 class="product-font ma-0 module-title">Facturas</h4> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="title1 product-font ma-0">Listado general de facturas</h2>
            <mat-chip-list>
                <mat-chip>
                    BETA
                </mat-chip>
            </mat-chip-list>
        </header>
        <mat-divider></mat-divider>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Requisiciones">
                <ng-template matTabContent>
                    <app-requisition-purchases></app-requisition-purchases>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span [matBadge]="created" matBadgeOverlap="false" matBadgeColor="warn">
              Actualizar precios
            </span>
                </ng-template>
                <ng-template matTabContent>
                    <app-created-purchases (sendTotal)="totalCreated($event)"></app-created-purchases>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span [matBadge]="updated" matBadgeOverlap="false" matBadgeColor="accent">
              Ingresos pendientes
            </span>
                </ng-template>
                <ng-template matTabContent>
                    <app-updated-purchases (sendTotal)="totalUpdated($event)"></app-updated-purchases>
                </ng-template>
            </mat-tab>
            <mat-tab label="Ajustes">
                <ng-template matTabContent>
                    <h2>ESTA OPCION PODRIA HACERSE DESDE EL HISTORIAL PERO DEPENDE DE LOS PERMISOS</h2>
                    <app-adjusts></app-adjusts>
                </ng-template>
            </mat-tab>
            <mat-tab label="Historial">
                <ng-template matTabContent>
                    <app-history-purchases></app-history-purchases>
                </ng-template>
            </mat-tab>
            <mat-tab label="Anuladas">
                <ng-template matTabContent>
                    <app-deleted-purchases></app-deleted-purchases>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <button *ngIf="!smallScreen && purchasesp.includes('create')" mat-fab color="primary" class="fab mat-elevation-z10" [routerLink]="'/purchases/new'">
        <mat-icon>add</mat-icon><span class="extended-fab-button__text">Requisición</span>
      </button>
    </div>
</div>
<!-- </div> -->