<header class="header" fxLayout="row wrap" fxLayoutAlign="start center">
    <h2 class="product-font ma-0">Productos pendientes</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="header" fxLayout="row wrap">
  <div fxFlex>
    Seleccione los productos que quedaron pendientes de pedidos anteriores y desea agregar a este nuevo pedido
  </div>
  <div fxFlex="nogrow">
    <mat-form-field appearance="standard">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar producto..." #input>
    </mat-form-field>
  </div>
</div>
<div class="space" data-simplebar *ngIf="products !== undefined">
    

    <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" sticky="true">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element">
              <input type="number" class="cant" [(ngModel)]="element.quantity" name="" id="">
          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element" (click)="selection.toggle(element)"> {{element._product.description}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element" (click)="selection.toggle(element)"> {{element._product._brand.name}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="unity">
          <th mat-header-cell *matHeaderCellDef> Unidad </th>
          <td mat-cell *matCellDef="let element"  (click)="selection.toggle(element)"> {{element._product.unity}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>



</div>

<div class="space" fxLayout="column wrap" fxLayoutAlign="center center" *ngIf="products === undefined">
    <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
</div>
<div class="footer" fxLayout="row wrap">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
     <span fxFlex></span>
    <button mat-flat-button color="primary" (click)="addProducts()">Agregar Productos Seleccionados</button>
</div>