<mat-drawer-container class="my-layout">
    <mat-drawer #drawer class="sidenav" position="end" mode="over">
        <header fxLayout="row wrap" fxLayoutAlign="start center">
            <h2 class="ma-0">{{title}}</h2>
            <span fxFlex></span>
            <button mat-icon-button (click)="reset()">
        <mat-icon>close</mat-icon>
      </button>
        </header>
        <app-new-edit *ngIf="drawerComponent === 'DOCUMENTO'" [accountsPayable]="accountsPayable" (close)="reload()"></app-new-edit>
        <app-provider-account *ngIf="drawerComponent === 'PROVEEDOR'" [provider]="provider" (close)="drawer.opened = false">
        </app-provider-account>
        <app-accounts-payable *ngIf="drawerComponent === 'CUENTA'" (return)="reset()" [accountsPayable]="accountsPayable"></app-accounts-payable>
    </mat-drawer>
    <header>
        <app-filter (send)="applyFilter($event)"></app-filter>
        <span fxFlex></span>
        <button mat-fab color="warn" [matMenuTriggerFor]="payablesMenu" matTooltip="Nuevo documento">
      <mat-icon>add</mat-icon>
    </button>
        <mat-menu #payablesMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="newDocument('PRODUCTOS')">
        <mat-icon>medication</mat-icon>
        <span>Productos</span>
      </button>
            <button mat-menu-item (click)="newDocument('GASTOS')">
        <mat-icon>payments</mat-icon>
        <span>Gastos</span>
      </button>
        </mat-menu>
    </header>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab [label]=" 'Retenciones pendientes (' + accountsPayablesReten.length  + ')'   ">
            <ngx-simplebar class="content">
                <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                <app-table-accounts-payable (sendAccountsPayable)="getAccountPayable($event)" [accountsPayable]="accountsPayablesReten" [filter]="filterReten" [addSelection]="false"></app-table-accounts-payable>
            </ngx-simplebar>
        </mat-tab>
        <mat-tab [label]=" 'Pagos a proveedores (' + accountsPayablesProd.length  + ')'   ">
            <ngx-simplebar class="content">
                <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                <app-table-accounts-payable (sendAccountsPayable)="getAccountPayable($event)" [accountsPayable]="accountsPayablesProd" [filter]="filterProd" [addSelection]="false"></app-table-accounts-payable>
            </ngx-simplebar>
        </mat-tab>
        <mat-tab [label]=" 'Gastos internos (' + accountsPayablesGast.length  + ')'   ">
            <ngx-simplebar class="content">
                <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                <app-table-accounts-payable (sendAccountsPayable)="getAccountPayable($event)" [accountsPayable]="accountsPayablesGast" [filter]="filterGast" [addSelection]="false"></app-table-accounts-payable>
            </ngx-simplebar>
        </mat-tab>
        <mat-tab label="Historial">En proceso... </mat-tab>
    </mat-tab-group>
</mat-drawer-container>