<div class="farmacia">
    <header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
        <h2 style="margin: 0;" class="h2">Nueva Ruta</h2>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="!loading" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
    </header>
    <mat-divider></mat-divider>
    <div class="clientspace" data-simplebar>
        <div class="section" fxLayout="row wrap" style="margin-top: 15px;">
            <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row wrap">
                <div [fxFlex]="smallScreen ? 100 : ''">
                    <div fxLayout="column wrap">
                        <div fxLayout="row wrap">
                            <h2 class="product-font ma-0 P">Ordenes agregadas a la nueva ruta</h2>
                        </div><br>
                    </div>
                    <div *ngIf="newRoute.details.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
                        <mat-icon class="text-muted material-icons-outlined">electric_moped</mat-icon>
                        <span class="text-muted">No hay ordenes agregadas a la ruta</span>
                        <span class="text-muted">Por favor selecciona una orden pendiente </span>
                    </div>
                    <div *ngIf="newRoute.details.length > 0" fxLayout="column wrap">
                        <ng-container *ngFor="let c of  newRoute.details">
                            <mat-card *ngIf="c._order" class="assigned-job mat-elevation-z4">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">receipt_long</mat-icon>
                                    </div>
                                    <mat-card-title>#{{ c._order.noOrder }}</mat-card-title>
                                    <mat-card-subtitle>Factura: {{ c._order.noBill }}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{c._order.address}}</p>
                                    <p>{{ c._order.town }} {{ c._order.department }}</p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button (click)="removeOrder(c._order)" style="color:brown;">Quitar</button>
                                </mat-card-actions>
                            </mat-card>
                            <mat-card *ngIf="c._internalOrder" class="assigned-job mat-elevation-z4">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="accent">send</mat-icon>
                                    </div>
                                    <mat-card-subtitle>{{ c._internalOrder.type }}</mat-card-subtitle>
                                    <mat-card-title>#{{ c._internalOrder.noOrder }}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        <span class="text-muted">Origen: {{c._internalOrder._cellar.name }}</span>
                                        <br> Destino: {{c._internalOrder._destination.name }}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button (click)="removeInternalOrder(c._internalOrder)" style="color:brown;">Quitar</button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row wrap">
                <mat-divider [vertical]="true"></mat-divider>
                <div [fxFlex]="smallScreen ? 100 : ''" class="divider2">
                    <div fxLayout="column wrap">
                        <div fxLayout="row wrap">
                            <h2 color="primary" class="product-font ma-0 T">Pendientes de entrega</h2>
                        </div><br>
                    </div>
                    <div *ngIf="orders.length <= 0 && internalOrders.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
                        <mat-icon class="text-muted material-icons-outlined">receipt_long</mat-icon>
                        <span class="text-muted">No hay ordenes pendientes de entrega</span>
                    </div>
                    <div *ngIf="orders.length > 0 || internalOrders.length > 0" fxLayout="column wrap">
                        <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                            <mat-label>Buscar Orden</mat-label>
                            <mat-icon class="text-muted" matPrefix>search</mat-icon>
                            <input matInput type="text" [(ngModel)]="searchText">
                        </mat-form-field> &nbsp; &nbsp; &nbsp;
                        <mat-card matRipple (click)="addInternalOrder(c)" *ngFor="let c of  (internalOrders | filter: searchText : ['noOrder'])" class="assigned-job mat-elevation-z4 cursor-pointer">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="accent">send</mat-icon>
                                </div>
                                <mat-card-subtitle>{{ c.type }}</mat-card-subtitle>
                                <mat-card-title>#{{ c.noOrder }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    <span class="text-muted">Origen: {{c._cellar.name }}</span>
                                    <br> Destino: {{c._destination.name }}
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card matRipple (click)="addOrder(c)" *ngFor="let c of  (orders | filter: searchText : ['noBill', 'nit', 'name', 'phone', 'address', 'town', 'department'])" class="assigned-job mat-elevation-z4 cursor-pointer">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">receipt_long</mat-icon>
                                </div>
                                <mat-card-title>#{{ c.noOrder }}</mat-card-title>
                                <mat-card-subtitle>Factura: {{ c.noBill }}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{c.address}}</p>
                                <p>{{ c.town }} {{ c.department }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="header">
        <button mat-button *ngIf="!loading" (click)="dialogRef.close()" class="info-row">
      CANCELAR
    </button>
        <span fxFlex></span>
        <button mat-button *ngIf="!loading" (click)="saveRoute()" [disabled]="this.newRoute.details.length === 0" color="primary">
      GUARDAR
    </button>
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn"></mat-progress-spinner>
    </div>
</div>