.header {
    padding: 28px;
}

.clientspace {
    height: 500px;
    width: 100%;
}

.h2 {
    color: #0a1958;
}

.info-row {
    margin-bottom: 5px;
    margin-top: 3px;
}

.section {
    padding: 0px 15px;
}

.input-section {
    padding: 0px 5px;
}

.assigned-job {
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    .whitebg {
        background-color: white!important;
    }
}