<div class="farmacia">
    <header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
        <h2 style="margin: 0;" class="h2">Nueva Ruta</h2>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="!loading" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
    </header>
    <mat-divider></mat-divider>
    <div class="clientspace" data-simplebar>
        <div class="section" fxLayout="row wrap" style="margin-top: 15px;">
            <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row wrap">
                <div [fxFlex]="smallScreen ? 100 : ''">
                    <div fxLayout="column wrap">
                        <div fxLayout="row wrap">
                            <h2 class="product-font ma-0 P">Ordenes agregadas a la nueva ruta</h2>
                        </div><br>
                    </div>
                    <div *ngIf="newRoute.details.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
                        <mat-icon class="text-muted material-icons-outlined">electric_moped</mat-icon>
                        <span class="text-muted">No hay ordenes agregadas a la ruta</span>
                        <span class="text-muted">Por favor selecciona una orden pendiente </span>
                    </div>
                    <div *ngIf="newRoute.details.length > 0" fxLayout="column wrap">
                        <mat-list *ngFor="let c of  newRoute.details" style="padding-top: 0;" class="divider">
                            <mat-list-item class="assigned-job mat-elevation-z4">
                                <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">receipt_long</mat-icon>
                                <h4 mat-line>#{{ c._order.noOrder }} <span fxFlex></span>  Factura: {{ c._order.noBill }}</h4>
                                <small mat-line class="text-muted">{{c._order.address}} </small>
                                <small mat-line class="text-muted">{{ c._order.town }}, {{ c._order.department }} </small>
                                <button mat-icon-button (click)="removeOrder(c._order)"><mat-icon>close</mat-icon></button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row wrap">
                <mat-divider [vertical]="true"></mat-divider>
                <div [fxFlex]="smallScreen ? 100 : ''" class="divider2">
                    <div fxLayout="column wrap">
                        <div fxLayout="row wrap">
                            <h2 color="primary" class="product-font ma-0 T">Ordenes pendientes de entrega</h2>
                        </div><br>
                    </div>
                    <div *ngIf="orders.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
                        <mat-icon class="text-muted material-icons-outlined">receipt_long</mat-icon>
                        <span class="text-muted">No hay ordenes pendientes de entrega</span>
                    </div>
                    <div *ngIf="orders.length > 0" fxLayout="column wrap">
                        <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                            <mat-label>Buscar Orden</mat-label>
                            <mat-icon class="text-muted" matPrefix>search</mat-icon>
                            <input matInput type="text" [(ngModel)]="searchText">
                        </mat-form-field> &nbsp; &nbsp; &nbsp;
                        <mat-list matRipple (click)="addOrder(c)" *ngFor="let c of  (orders | filter: searchText : ['noBill', 'nit', 'name', 'phone', 'address', 'town', 'department'])" style="padding-top: 0; cursor: pointer;">
                            <mat-list-item class="assigned-job mat-elevation-z4">
                                <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">receipt_long</mat-icon>
                                <h4 mat-line>#{{ c.noOrder }} <span fxFlex></span>  Factura: {{ c.noBill }}</h4>
                                <small mat-line class="text-muted">{{c.address}} </small>
                                <small mat-line class="text-muted">{{ c.town }}, {{ c.department }} </small>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="header">
        <button mat-button *ngIf="!loading" (click)="dialogRef.close()" class="info-row">
      CANCELAR
    </button>
        <span fxFlex></span>
        <button mat-button *ngIf="!loading" (click)="saveRoute()" [disabled]="this.newRoute.details.length === 0" color="primary">
      GUARDAR
    </button>
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn"></mat-progress-spinner>
    </div>
</div>