.header, .footer, .space { padding: 10px; }
.space { max-height: 400px; }
.list-header { border-bottom: 1px solid rgba(0,0,0,0.1);}
.cell { padding: 3px 5px; }
.pasive { color: rgb(179, 61, 61);}
.active { color: rgb(78, 129, 73);}