.header {
    padding: 10px;
}

.clientspace {
    height: 500px;
    width: 100%;
}

.grayicon {
    color: #0a1958;
}

.width-all {
    width: 100%;
    font-size: 13px;
}

.inputpadding {
    padding-left: 3px;
    padding-right: 3px;
}

.radio {
    margin-right: 10px;
    font-size: 13px;
}

.h2 {
    color: #0a1958;
}

.info-row {
    margin-bottom: 5px;
    margin-top: 3px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}