<header fxLayout="row wrap" class="header" fxLayoutAlign="start center">
    <h4 fxLayoutAlign="start center" class="module-title ma-0 product-font">
        <mat-icon class="iconHeader">record_voice_over</mat-icon> &nbsp;&nbsp; <span class="product-font">Transacciones de empleados</span>
    </h4>
    <span fxFlex></span>
</header>
<div fxLayout="row wrap">
    <mat-tab-group class="tabgroup">
        <mat-tab label="Faltas">
            <div class="tabcontent" data-simplebar>
                <button (click)="newFault()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Falta</span>
                </button>
                <div *ngIf="foults.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay faltas registradas
                </div>
                <mat-card *ngFor="let f of foults" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editFault(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip> &nbsp; &nbsp;
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Permisos">
            <div class="tabcontent" data-simplebar>
                <button (click)="newPermission()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Permiso</span>
                </button>
                <div *ngIf="permissions.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay permisos registrados
                </div>
                <mat-card *ngFor="let f of permissions" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editPermission(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Retenciones">
            <div class="tabcontent" data-simplebar>
                <button (click)="newRetention()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Retención</span>
                </button>
                <div *ngIf="retentions.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay retenciones registradas
                </div>
                <mat-card *ngFor="let f of retentions" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editRetention(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Suspenciones del IGSS">
            <div class="tabcontent" data-simplebar>
                <button (click)="newIGSS()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Suspención del IGSS</span>
                </button>
                <div *ngIf="IGSSsuspentions.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay suspenciones registradas
                </div>
                <mat-card *ngFor="let f of IGSSsuspentions" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editIGSS(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Bajas">
            <div class="tabcontent" data-simplebar>
                <button (click)="newLow()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Baja</span>
                </button>
                <div *ngIf="lows.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay bajas registradas
                </div>
                <mat-card *ngFor="let f of lows" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editLow(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab label="Suspención temporal">
            <div class="tabcontent" data-simplebar>
                <button (click)="newTemporal()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Suspención Temporal</span>
                </button>
                <div *ngIf="temporalSuspention.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay suspenciones registradas
                </div>
                <mat-card *ngFor="let f of temporalSuspention" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editTemporal(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Citas del IGSS">
            <div class="tabcontent" data-simplebar>
                <button (click)="newCitaIGSS()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Cita del IGSS</span>
                </button>
                <div *ngIf="citaIGSS.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay citas registradas
                </div>
                <mat-card *ngFor="let f of citaIGSS" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editCitaIgss(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab label="Llamadas de atención">
            <div class="tabcontent" data-simplebar>
                <button (click)="newCall()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Llamada de atención</span>
                </button>
                <div *ngIf="alertsCalls.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay llamadas de atención registradas
                </div>
                <mat-card *ngFor="let f of alertsCalls" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editCall(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>



        <mat-tab label="Horas Extras">
            <div class="tabcontent" data-simplebar>
                <button (click)="newExtraHour()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Horas extras</span>
                </button>
                <div *ngIf="extraHours.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay horas extras registradas
                </div>
                <mat-card *ngFor="let f of extraHours" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editExtraHour(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Comisiones">
            <div class="tabcontent" data-simplebar>
                <button (click)="newComission()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Comisión</span>
                </button>
                <div *ngIf="comissions.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay comisiones registradas
                </div>
                <mat-card *ngFor="let f of comissions" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editComission(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Bonos">
            <div class="tabcontent" data-simplebar>
                <button (click)="newBonus()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Bono</span>
                </button>
                <div *ngIf="bonus.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay bonos registradas
                </div>
                <mat-card *ngFor="let f of bonus" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editBonus(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Aumento de Salario">
            <div class="tabcontent" data-simplebar>
                <button (click)="newRisning()" mat-fab color="primary" class="fab mat-elevation-z10">
                    <mat-icon>add</mat-icon>
                    <span class="extended-fab-button__text">Aumento</span>
                </button>
                <div *ngIf="rising.length === 0"  class="tabcontent" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay aumentos registrados
                </div>
                <mat-card *ngFor="let f of rising" fxLayout="row wrap" fxLayoutAlign="start center" class="mat-elevation-z2 request" (click)="editRisning(f)">
                    <div fxFlex fxLayoutAlign="start center">
                        <img [src]="f._employeeJob._employee && f._employeeJob._employee.photo ? (f._employeeJob._employee.photo | file : 'employees') : 'assets/images/avatars/00M.jpg'" class="employeeimage" alt="">
                       {{ f._employeeJob._employee ? f._employeeJob._employee.name : '' }}
                    </div>
                    <div fxFlex="15">
                        {{f.date | date : 'dd/MM/yyyy hh:mm'}}
                    </div>
                    <div fxFlex="15">
                        Q. {{f.amount | number : '.2'}}
                    </div>
                    <div fxFlex="nogrow">
                        <mat-chip-list>
                            <mat-chip selected [color]="f.applied ? 'accent' : ''">
                                {{f.applied ? 'APLICADO' : 'NO APLICADO'}}
                            </mat-chip>
                            <mat-chip selected [color]="f.approved ? 'warn' : 'accent'">
                                {{f.approved ? 'APROBADO' : 'NO APROBADO'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>