<header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
    <h2 style="margin: 0;" class="h2">Detalle de Lote No.: <strong>
            {{loteExample.noLote}}
        </strong>
    </h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="content">
    <mat-divider></mat-divider>
    <br><br>
    <div fxLayout="row wrap" class=" input-padding" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end">
            <strong>
                <h3 class=" text-muted ma-0 ">Fecha de Expiración:</h3>
            </strong>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <strong>
                <h3 class="input-padding">{{loteExample.expiration_date}}</h3>
            </strong>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end">
            <h3 class="text-muted ma-0 ">Costo de Lote:</h3>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <h3 class="input-padding"> Q.{{loteExample.cost}}</h3>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end">
            <h3 class="text-muted ma-0 ">Cantidad de Compra: </h3>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <h3 class="input-padding">{{loteExample.quantity}} Unidades</h3>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end">
            <h3 class="text-muted ma-0 ">Existencias de Lote: </h3>
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <h3 class="input-padding">{{loteExample.stock}} Unidades</h3>
        </div>
    </div>
    <br>
    <br>

    <mat-divider></mat-divider>

</div>
<div fxLayout="row" class="header" flexlayout="center">
    <button mat-button (click)="dialogRef.close()" class="info-row">
        Cerrar
    </button>
</div>