<div class="new-header" fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
    <h2 class="ma-0">Nuevo Rol</h2>
</div>
<div class="container-form">
    <div class="form-padding" fxLayout="row wrap">
        <div class="input-section" fxLayoutAlign="start center" fxLayout="row wrap">
            <mat-form-field fxFlex appearance="outline" class="input-all" color="primary">
                <mat-label>Nombre del rol</mat-label>
                <input matInput type="text" placeholder="Ingrese el nombre del rol" class="text-md bold">
                <!-- <mat-error>Debe Ingresar un nombre válido</mat-error> -->
                <mat-hint>Ingrese el nombre de identificación para el rol</mat-hint>
            </mat-form-field>
            &nbsp; &nbsp;
            <div fxLayoutAlign="start start" fxLayout="column wrap">
                <mat-button-toggle-group>
                    <mat-button-toggle *ngFor="let c of companies" [value]="c.name"><span class="uppercase">{{c.name}}</span></mat-button-toggle>
                </mat-button-toggle-group>
                <mat-label>Tipo de Rol</mat-label>
            </div>
            &nbsp; &nbsp;
            <button mat-icon-button (click)="allExpandState = !allExpandState">
                <mat-icon>{{ allExpandState ? 'unfold_more':'unfold_less' }}</mat-icon>
            </button>
            <span fxFlex></span>

            <button mat-flat-button color="primary" (click)="saveRole()">
                Guardar Rol
            </button>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="form-padding" fxLayout="row wrap" *ngIf="currentForm !== undefined ">
        <mat-expansion-panel *ngFor="let m of getPermissions(currentPermissions)" id="epn" [expanded]="allExpandState" class="expanded-section">
            <mat-expansion-panel-header>
                <mat-panel-title fxLayoutAlign="start center" fxLayout="row wrap">

                    <div fxFlex.lg="30" fxFlex.xl="30" fxFlex.gt-md="30" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="60">
                        <mat-checkbox name="t-us-nr-lg-001" color="accent" (click)="$event.stopPropagation();">
                            <b class="role-module-title product-font"> {{ m.label }}</b>
                        </mat-checkbox>
                    </div>
                    <div fxFlex *ngIf="getPermissions(m.name).length <= 0">
                        <mat-select fxFlex multiple class="input-all feature-select" required="true">
                            <mat-option value="read">Consultar</mat-option>
                            <mat-option value="update">Modificar</mat-option>
                            <mat-option value="delete">Eliminar</mat-option>
                            <mat-option value="create">Crear</mat-option>
                        </mat-select>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="r" class="submodules">
                <div>
                    <div *ngFor="let sm of getPermissions(m.name)">
                        <div class="sbSquare" fxLayout="row wrap" fxLayoutAlign="start center">
                            <div fxFlex.lg="35" fxFlex.xl="35" fxFlex.gt-md="35" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="60">
                                <mat-checkbox color="accent">{{sm.label}}</mat-checkbox>
                            </div>
                            <div fxFlex *ngIf="getPermissions(sm.name).length <= 0">
                                <mat-select fxFlex multiple class="input-all feature-select" required="true">
                                    <mat-option value="read">Consultar</mat-option>
                                    <mat-option value="update">Modificar</mat-option>
                                    <mat-option value="delete">Eliminar</mat-option>
                                    <mat-option value="create">Crear</mat-option>
                                </mat-select>
                            </div>

                        </div>
                        <div class="feturespace">
                            <div *ngFor="let f of getPermissions(sm.name)" class="sbFeature" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
                                <div fxFlex.lg="40" fxFlex.xl="40" fxFlex.gt-md="40" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="60">
                                    <mat-checkbox name="t-us-nr-lg-001" color="accent">
                                        {{f.label}}
                                    </mat-checkbox>

                                </div>
                                <div fxFlex class="featureoptions">
                                    <mat-select fxFlex multiple class="input-all feature-select" required="true">
                                        <mat-option value="read">Consultar</mat-option>
                                        <mat-option value="update">Modificar</mat-option>
                                        <mat-option value="delete">Eliminar</mat-option>
                                        <mat-option value="create">Crear</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>