<ngx-simplebar class="my-layout">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-lg="60" fxFlex.gt-md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex.xs="100">
            <form [formGroup]="form" autocomplete="off">
                <mat-card fxLayout="column" class="mat-elevation-z3">
                    <mat-card-header>
                        <mat-icon matCardAvatar>point_of_sale </mat-icon>
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>Cliente</mat-label>
                            <input #findInput matInput [formControl]="_customer" [matAutocomplete]="auto1" type="text" placeholder="Buscar cliente..." aria-label="text">
                            <mat-hint>Ingrese el código o el nombre del cliente.</mat-hint>
                            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="selected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
                                    <span>{{ option.code }} - {{option.name}}</span>
                                </mat-option>
                            </mat-autocomplete>
                            <button *ngIf="_customer.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearCustomer()">
                <mat-icon>close</mat-icon>
              </button>
                        </mat-form-field>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card *ngIf="!selectedCustomer" class="infoCustomer mat-elevation-z4">
                            <app-no-found text="Ningún cliente seleccionado" subtitle="Por favor seleccione un cliente, puede buscar al cliente por código o nombre."></app-no-found>
                        </mat-card>
                        <mat-card *ngIf="selectedCustomer" class="infoCustomer mat-elevation-z4">
                            <mat-card-header>
                                <mat-icon matCardAvatar>person_search </mat-icon>
                                <mat-card-title>{{ selectedCustomer.name }}</mat-card-title>
                                <mat-card-subtitle>{{ selectedCustomer.nit }}</mat-card-subtitle>
                                <span fxFlex></span>
                                <h2>{{ selectedCustomer.code }}</h2>
                            </mat-card-header>
                            <mat-card-content>
                                <p *ngIf="selectedCustomer.phone">Tel: <b>{{ selectedCustomer.phone }}</b></p>
                                <p>Dirección: {{ selectedCustomer.address }}, {{ selectedCustomer.town }} {{ selectedCustomer.department }}</p>
                                <p>Empresa: <b>{{ selectedCustomer.company }}</b></p>
                                <p>{{ selectedCustomer.transport }} <span fxFlex></span> Crédito</p>
                                <p fxLayoutAlign="end center"><b>{{ selectedCustomer.limitDaysCredit }} días |
                    Q{{ selectedCustomer.limitCredit | number: '.2'}}</b></p>
                            </mat-card-content>
                        </mat-card>
                        <div fxLayout="row wrap" fxLayoutGap="10px">
                            <div fxFlex.gt-lg="25" fxFlex.gt-md="32" fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex.xs="100">
                                <mat-form-field fxFill appearance="outline" color="primary">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-lg="25" fxFlex.gt-md="32" fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex.xs="100">
                                <mat-form-field fxFill appearance="outline" color="primary">
                                    <mat-label>No.de Factura</mat-label>
                                    <input formControlName="noBill" type="text" matInput placeholder="Ingrese el número de factura">
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-lg="25" fxFlex.gt-md="32" fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex.xs="100">
                                <mat-form-field fxFill appearance="outline" color="primary">
                                    <mat-label>Vendedor</mat-label>
                                    <mat-select formControlName="_seller">
                                        <mat-option *ngFor="let s of sellers" [value]="s._id">
                                            {{ s.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row wrap">
                            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.xs="100">
                                <mat-form-field fxFill appearance="outline" color="primary">
                                    <mat-label>Total</mat-label>
                                    <span matPrefix><b>Q.</b></span>
                                    <input formControlName="total" type="number" matInput placeholder="Ingrese el total">
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.xs="100">
                                <div *ngIf="selectedCustomer" fxLayout="column wrap" fxLayoutAlign="center center">
                                    <mat-chip-list>
                                        <mat-chip *ngIf="!timeAvaliable">
                                            <mat-icon class="material-icons-outlined" style="margin-right: 5px;">event_busy</mat-icon>
                                            Tiempo vencido
                                        </mat-chip>
                                        <mat-chip *ngIf="timeAvaliable" selected color="warn">
                                            <mat-icon class="material-icons-outlined" style="margin-right: 5px;">
                                                event_available</mat-icon>
                                            Tiempo vigente
                                        </mat-chip>
                                    </mat-chip-list>
                                    <h3 *ngIf="credit <= 0" style="color: brown;">Crédito Disponible: Q{{ credit | number: '.2' }}</h3>
                                    <h3 *ngIf="credit > 0">Crédito Disponible: Q{{ credit | number: '.2' }}</h3>
                                </div>
                            </div>
                        </div>
                        <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="close.emit(); resetForm()">Cancelar</button>
                        <button mat-button (click)="resetForm()" color="accent">Limpiar</button>
                        <span fxFlex></span>
                        <button mat-raised-button (click)="save()" color="warn" [disabled]="loading || form.invalid  || (!selectedCustomer && (!timeAvaliable || credit <= 0))">Guardar</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</ngx-simplebar>