<header class="header" fxLayout="row wrap" fxLayoutAlign="start center">
    <h2 class="product-font ma-0">{{ this.data.role === 'edit' ? 'Editar Puesto' : 'Nuevo Puesto' }}</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="space" data-simplebar>
    <form [formGroup]="form">
        <div fxLayout="row wrap">
            <mat-form-field class="input-all" color="primary" appearance="outline">
                <mat-label>Nombre del Puesto</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div fxLayout="row wrap">
            <mat-form-field class="input-all" color="primary" appearance="outline">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="_jobDepartment">
                    <div *ngIf="departments.length > 0" class="newdepartment" (click)="addDepartment()" fxLayoutAlign="start center"><mat-icon>add</mat-icon> &nbsp; Nuevo Departamento</div>
                    <mat-option *ngIf="departments.length === 0" (click)="addDepartment()" fxLayoutAlign="start center"><mat-icon>add</mat-icon> &nbsp; Nuevo Departamento</mat-option>
                    <mat-option *ngFor="let d of departments" [value]="d._id">{{ d.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="footer" fxLayout="row wrap">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
     <span fxFlex></span>
    <button *ngIf="this.data.role === 'add'" mat-flat-button color="primary" (click)="saveJob()">Guardar</button>
    <button *ngIf="this.data.role === 'edit'" mat-flat-button color="primary" (click)="saveJobEdit()">Guardar</button>
</div>