<div fxFlex fxLayout="column" class="section-content">
    <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
        <h4 class="product-font ma-0 module-title">Consulta de existencias</h4> &nbsp;&nbsp;&nbsp;&nbsp;
        <h2 class="title1 product-font ma-0">Buscar productos en otras sucursales</h2>
        <mat-chip-list>
            <mat-chip>
                BETA
            </mat-chip>
        </mat-chip-list>
    </header>
    <!-- <mat-divider></mat-divider> -->
    <div fxFlex="row wrap" class="my-container">
        <div class="card mat-elevation-z2" data-simplebar>
            <header [formGroup]="myGroup" class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
                <mat-form-field appearance="outline" color="warn" class="widthSearch">
                    <span matPrefix *ngIf="!myGroup.get('search').invalid" class="inputPresentation">{{ myGroup.get('search').value.barcode }} &nbsp;</span>
                    <input #search matInput [matAutocomplete]="auto" formControlName="search" placeholder="Buscar producto..." aria-label="State">
                    <mat-error *ngIf="this.myGroup.get('search').invalid">
                        Seleccione un producto de la lista.
                    </mat-error>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getShowDescription" (optionSelected)="searchStock($event.option.value)">
                        <mat-option *ngIf="isLoading">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let product of filteredProducts" [value]="product">
                                <div fxFlex="row wrap">
                                    <span><b>{{product.barcode}}</b> | {{product.description}} | {{
                                        product._brand.name }}</span>
                                    <div fxFlex></div>
                                </div>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                    <button *ngIf="myGroup.get('search').value" matSuffix mat-icon-button aria-label="Clear" (click)="myGroup.get('search').setValue('')">
                        <mat-icon>close</mat-icon>
                      </button>
                </mat-form-field>
            </header>
            <div *ngIf="!loading">
                <table mat-table [dataSource]="dataSource" class="noborder-table ">
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" class="material-icons-outlined">inventory_2</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="cellarName">
                        <th mat-header-cell *matHeaderCellDef> Sucursal </th>
                        <td mat-cell *matCellDef="let element"> {{element._cellar.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cellarDescription">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> {{element._cellar.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="availability">
                        <th mat-header-cell *matHeaderCellDef> Inventario </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip-list>
                                <mat-chip *ngIf="element.stock < 1">
                                    Sin existencia
                                </mat-chip>
                                <mat-chip *ngIf="element.stock > 0" selected color="warn">
                                    Disponibles
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef> Inventario </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.stock }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row">
                    </tr>
                </table>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="loading">
                <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>