.section-content {
    height: calc(100%);
}

.my-container {
    height: calc(100vh - 155px) !important;
    padding: 15px;
}

.padding-25 {
    padding: 25px;
}

.padding-15 {
    padding: 1s5px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.widthSearch {
    width: 100%;
}