<mat-sidenav-container class="employees-list">
    <mat-sidenav-content>

        <button (click)="newEmployee()" mat-fab color="primary" class="fab mat-elevation-z10">
            <mat-icon>add</mat-icon>
            <span class="extended-fab-button__text">Empleado</span>
        </button>
        
        <header fxLayout="row wrap" class="header" fxLayoutAlign="start center">
            <h4 fxLayoutAlign="start center" class="module-title ma-0 product-font">
                <mat-icon class="iconHeader">engineering</mat-icon> &nbsp;&nbsp; <span class="product-font">Empleados</span>
            </h4>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" (click)="openJobs()">
                <mat-icon>work</mat-icon> Puestos
            </button> &nbsp;&nbsp;
            <mat-form-field *ngIf="cellars !== undefined" appearance="outline" floatLabel="always" class="findinput">
                <mat-label>Sucursales</mat-label>
                <mat-select multiple [(ngModel)]="selectedCellars" (ngModelChange)="loadEmployees()">
                    <mat-option *ngFor="let c of cellars" [value]="c._id">{{ c.name }}</mat-option>
                </mat-select>
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                <mat-label>Buscar Empleado</mat-label>
                <mat-icon class="text-muted" matPrefix>search</mat-icon>
                <input matInput type="text" [(ngModel)]="searchtext">
            </mat-form-field>
        </header>

        <div data-simplebar class="list">
            <div *ngIf="employees !== undefined" >
                <div *ngIf="employees.length > 0" fxLayout="row wrap" class="padding-15">
                    <div *ngFor="let e of (employees | filter: searchtext : ['name', 'dpi'])" fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100" class="usercard user">
                        <mat-card matRipple class="cursor-pointer user-card mat-elevation-z2" (click)="selectEmployee(e)" fxLayout="row wrap" fxLayoutAlign="start center">
                            <div fxFlex="60px">
                                <img [src]="'assets/images/avatars/00M.jpg'" alt="" class="avataruser">
                            </div>
                            <div fxFlex fxLayout="column wrap" class="ellipsis-text">
                                <h4 class="ma-0 product-font">Nombre del empleado</h4>
                                <span class="text-muted">278801245678988</span>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="employees.length === 0"  fxLayout="column wrap" class="loader" fxLayoutAlign="center center">
                    No hay empleados
                </div>
            </div>
        
        
            <div *ngIf="employees === undefined" fxLayout="column wrap" class="loader" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
            </div>
        
        </div>
    </mat-sidenav-content>
    <mat-sidenav [opened]="sideopen" position="end" disableClose="true" #sidemenu [ngStyle]="{ width: panel === 'Puestos' ? '350px' : '100%' }" [mode]="'over'">

        <div *ngIf="panel === 'Puestos'">

            <header fxLayout="row wrap" class="jobs-header" fxLayoutAlign="start center">
                <button mat-icon-button (click)="sideopen = false">
                    <mat-icon>close</mat-icon>
                </button> &nbsp; &nbsp;
                <h4 class="ma-0 title">{{panel}}</h4>
                <span fxFlex></span>
                <button mat-flat-button (click)="addJob()" color="primary">
                    <mat-icon>add</mat-icon> Agregar
                </button>
            </header>
            <div *ngIf="jobs !== undefined" class="jobs-list" data-simplebar>
                <div *ngIf="jobs.length > 0" fxLayout="column wrap">
                    <mat-card *ngFor="let j of jobs" fxLayout="row wrap" class="jobcard mat-elevation-z2">
                        <div fxFlex>
                            <div>Nombre del puesto</div>
                            <div class="text-muted">Departamento</div>

                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editJob(j)"><mat-icon class="material-icons-outlined">create</mat-icon>Editar</button>
                            <button mat-menu-item (click)="deleteJob(j)"><mat-icon class="material-icons-outlined">delete</mat-icon>Eliminar</button>
                        </mat-menu>
                    </mat-card>

                </div>
                <div *ngIf="jobs.length === 0" class="jobs-list" fxLayout="column wrap" fxLayoutAlign="center center">
                    No hay puestos de trabajo agregados
                </div>
            </div>
        </div>

        <div *ngIf="panel === 'Empleados'">
            <header fxLayout="row wrap" class="jobs-header" fxLayoutAlign="start center">
                <button mat-icon-button (click)="sideopen = false">
                    <mat-icon>close</mat-icon>
                </button> &nbsp; &nbsp;
                <h4 class="ma-0 title">{{panel}}</h4>
            </header>
            <div *ngIf="sideopen === true" fxLayout="row wrap" class="new-employee">
                <app-new-employee [jobs]="jobs" [smallScreen]="smallScreen" class="new-employee"></app-new-employee>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>