.header { padding: 15px; }
.basic-purchase-info {
    padding: 15px;
}
.actions {
    padding: 15px;
}
.balance-space {
    height: 200px;
    background-color: rgba(0,0,0,0.1);
}

.width-all {
    width: 100% !important;
}
.inputpaddin { padding-left: 8px; padding-right: 8px; }
.pay-row { width: 100%; border-bottom: 1px solid rgba(0,0,0,0.05); }
.pay-row:hover { background-color: rgba(0,0,0,0.05); }
.heightpadding { padding-top: 10px; padding-bottom: 10px }
.paid { background-color: rgb(0, 132, 255); color: white; padding: 5px; border-radius: 3px; }
.pending { background-color: rgb(167, 82, 82); color: white; padding: 5px; border-radius: 3px; }
