.header { padding: 15px; }
.basic-purchase-info {
    padding: 15px;
}
.actions {
    padding: 15px;
}
.balance-space {
    height: 200px;
}

.width-all {
    width: 100% !important;
}
.inputpaddin { padding-left: 8px; padding-right: 8px; }
.pay-row { width: 100%; border-bottom: 1px solid rgba(0,0,0,0.05); }
.pay-row:hover { background-color: rgba(0,0,0,0.05); }
.heightpadding { padding-top: 10px; padding-bottom: 10px }
.pending { background-color: rgb(167, 82, 82); color: white; padding: 5px; border-radius: 3px; }
.section {
    padding: 0px 15px;
}
.assigned-job {
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    .whitebg {
        background-color: white!important;
    }
}
