<form [formGroup]="form" autocomplete="off">
    <div class="clientspace" data-simplebar>
        <div fxLayout="row wrap" style="margin-top: 8px;">
            <mat-divider inset=“true”></mat-divider>
            <h3 color="accent" class="ma-0 info-row T1"> Detalle del Producto</h3>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>

            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="mSaterial-icons-outlined grayicon">integration_instructions
                </mat-icon>
            </div>

            <div fxFlex fxLayout="row wrap">
                <!-- BarCode -->
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Código de Barras</mat-label>
                        <input #barcode formControlName="barcode" type="text" matInput placeholder="Ingrese el codigo del producto">
                    </mat-form-field>
                </div>
                <!-- END BarCode -->
                <!-- Brand -->
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Laboratorio</mat-label>
                        <input type="text" placeholder="Ingrese un laboratorio" aria-label="text" matInput formControlName="_brand" [matAutocomplete]="auto1">
                        <mat-autocomplete id="_brand" autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                <span>{{option.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- END Brand -->
            </div>

            <div fxFlex="50px"></div>

        </div>

        <!-- Description -->
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>
            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">description
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="50%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Nombre del Medicamento</mat-label>
                        <input formControlName="description" type="text" matInput placeholder="Añada el Nombre del Medicamento">
                    </mat-form-field>
                </div>
                <div fxFlex="50%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Nombre Comercial</mat-label>
                        <input formControlName="description" type="text" matInput placeholder="Añade el Nombre Comercial del Medicamento">
                    </mat-form-field>
                </div>
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Programa de Salud</mat-label>
                        <input formControlName="healthProgram" type="text" matInput placeholder="Añada un programa de Salud">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50px"></div>
        </div>
        <!-- END Description -->

        <!-- Max and Min -->
        <!-- <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>
            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">pin
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="50%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Minimo de Medicamentos</mat-label>
                        <input formControlName="max" type="number" matInput placeholder="Minimo de Medicamentos">
                    </mat-form-field>
                </div>
                <div fxFlex="50%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Maximo de Medicamentos</mat-label>
                        <input formControlName="min" type="number" matInput placeholder="Maximo de Medicamentos">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50px"></div>
        </div> -->
        <!-- END Max and Min -->

        <!-- Substances -->
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>
            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">bloodtype
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" class="width-all">
                        <mat-label>Sustancias</mat-label>
                        <mat-chip-list #chipListSubstances>
                            <mat-chip *ngFor="let substance of substances" [removable]="removable" (removed)="removeSubstance(substance)">
                                {{substance}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input type="text" placeholder="Ingrese una sustancia" #substanceInput aria-label="text" matInput formControlName="substances" [matAutocomplete]="auto2" [matChipInputFor]="chipListSubstances" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSubstance($event)">
                        </mat-chip-list>
                        <mat-autocomplete id="substances" autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="selectedSubstance($event)">
                            <mat-option *ngFor="let substance of filteredSubstances | async" [value]="substance">
                                <span>{{substance.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50px"></div>
        </div>
        <!-- END Substances -->


        <!-- symptom -->
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>
            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">masks
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" class="width-all">
                        <mat-label>Sintomas</mat-label>
                        <mat-chip-list #chipListSymptoms>
                            <mat-chip *ngFor="let symptom of symptoms" [removable]="removable" (removed)="removeSymptoms(symptom)">
                                {{symptom}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input type="text" placeholder="Ingrese un Simtoma" #symptomInput aria-label="text" matInput formControlName="symptoms" [matAutocomplete]="auto3" [matChipInputFor]="chipListSymptoms" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSymptom($event)">
                        </mat-chip-list>
                        <mat-autocomplete id="symptoms" autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)="selectedSymptom($event)">
                            <mat-option *ngFor="let symptom of filteredSymptoms | async" [value]="symptom.name">
                                <span>{{symptom.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50px"></div>
        </div>
        <!-- END symptom -->



        <!-- Payments -->

        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="50px"></div>
            <div fxFlex="50px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">payments
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div formArrayName="presentations" *ngFor="let presentation of presentationsForm.controls; let i = index" fxFlex="100">
                    <div [formGroupName]="i" class="row" fxFlex="100" fxLayoutAlign="space-between" fxLayout="row wrap">
                        <div fxFlex="30" class="cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'name' + i">Presentación</mat-label>
                                <input matInput [attr.id]="'name' + i" formControlName="name" type="text" name="name" placeholder="Ingrese el nombre de la presentación" [matAutocomplete]="autoPresentation">
                                <mat-autocomplete #autoPresentation="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filterPresentations[i] | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div fxFlex="33" class="cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'wholesale_price' + i">Precio Al Por Mayor</mat-label>
                                <span matPrefix><b>Q.</b></span>
                                <input [attr.id]="'wholesale_price' + i" formControlName="wholesale_price" type="number" matInput placeholder="Ingrese el precio al por mayor">
                            </mat-form-field>
                        </div>
                        <div fxFlex="33" class=" cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'distributor_price' + i">Precio de Distribuidor</mat-label>
                                <span matPrefix><b>Q.</b></span>
                                <input [attr.id]="'distributor_price' + i" formControlName="distributor_price" type="number" matInput placeholder="Ingrese el precio para Distribuidor">
                            </mat-form-field>
                        </div>
                        <div fxFlex="22.5" class=" cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'retail_price' + i">Precio Al Por Menor</mat-label>
                                <span matPrefix><b>Q.</b></span>
                                <input [attr.id]="'retail_price' + i" formControlName="retail_price" type="number" matInput placeholder="Ingrese el precio al por menor">
                            </mat-form-field>
                        </div>
                        <div fxFlex="22.5" class=" cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'cf_price' + i">Precio para CF</mat-label>
                                <span matPrefix><b>Q.</b></span>
                                <input [attr.id]="'cf_price' + i" formControlName="cf_price" type="number" matInput placeholder="Ingrese pra Consumidor Final">
                            </mat-form-field>
                        </div>
                        <div fxFlex="22.5" class=" cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'commission' + i">Cantidad por Presentación</mat-label>
                                <input [attr.id]="'quantity' + i" formControlName="quantity" type="number" matInput placeholder="Cantidad por Presentación">
                            </mat-form-field>
                        </div>
                        <div fxFlex="22.5" class=" cell">
                            <mat-form-field appearance="outline" color="primary" class="width-all">
                                <mat-label [attr.for]="'commission' + i">Comission por Vendedor</mat-label>
                                <span matPrefix><b>Q.</b></span>
                                <input [attr.id]="'commission' + i" formControlName="commission" type="number" matInput placeholder="Comisión por Vendedor">
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" class=" cell">
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                    <div fxFlex="5" fxFlexAlign="center" class="ellipsis-text cell icon-cancel">
                        <mat-icon class="material-icons-outlined cursor-pointer" (click)="removePresentation(i)">
                            cancel</mat-icon>
                    </div>
                </div>
                <div class="row" fxFlex fxLayout="row wrap" *ngIf="showButtomAddPresentations">
                    <div fxFlex class="ellipsis-text cell ">
                        <label class="cursor-pointer" (click)="addPresentation()"> + Agregar Presentación</label>
                    </div>
                </div>
            </div>
            <div fxFlex="50px"></div>
        </div>
        <!-- END Payments -->
        <div fxLayout="row wrap">
            <div fxFlex="100px" fxHide.xs></div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" class="header">
            <button mat-button *ngIf="!loading" [routerLink]="'/admin/adminProducts'" class="info-row">
                CANCELAR
            </button>
            <span fxFlex></span>
            <button mat-button *ngIf="!loading" (click)="saveProduct()" [disabled]="this.form.invalid" color="primary">
                GUARDAR
            </button>
            <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
            </mat-progress-spinner>
        </div>
    </div>
</form>