<div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } ">
    <div class="section-content">
        <div>
            <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
                <h1 class="product-font ma-0 module-title">Usuarios y Permisos</h1>
                <span fxFlex></span>
                <button mat-icon-button (click)="sidenavusers.toggle()" *ngIf="smallScreen"><mat-icon>menu</mat-icon></button>
            </header>
            <mat-divider></mat-divider>

            <div fxLayout="row wrap">
                <mat-sidenav-container fxFill class="module-container">
                    <mat-sidenav disableClose="true" #sidenavusers [mode]="smallScreen ? 'over' : 'side'" [opened]="!smallScreen" class="module-sidebar module-list-sidebar">
                        <mat-nav-list class="navigation navlist submenu-list">
                            <mat-list-item class="module-link component-link">
                                <mat-icon mat-list-icon class="material-icons-outlined">people</mat-icon>
                                <span mat-line>Usuarios del sistema</span>
                            </mat-list-item>
                            <mat-list-item class="module-link component-link">
                                <mat-icon mat-list-icon class="material-icons-outlined">vpn_key</mat-icon>
                                <span mat-line>Roles y Permisos</span>
                            </mat-list-item>
                            <mat-list-item class="module-link component-link">
                                <mat-icon mat-list-icon class="material-icons-outlined">business</mat-icon>
                                <span mat-line>Empresas</span>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-sidenav>
                    <mat-sidenav-content>
                        <div class="module-container" data-simplebar>
                            <app-user-details *ngIf="tab === 'userlist'" [smallScreen]="smallScreen"></app-user-details>
                            <app-new-user *ngIf="tab === 'new-user' && roles !== undefined" [roles]="roles" [smallScreen]="smallScreen"></app-new-user>
                            <app-user-details *ngIf="tab === 'user-details' && currentUser !== undefined && roles !== undefined" [roles]="roles" [currentUser]="currentUser" [smallScreen]="smallScreen"></app-user-details>
                            <app-edit-role *ngIf="tab === 'edit-role' && currentRole !== undefined" [currentRole]="currentRole" [smallScreen]="smallScreen" [currentPermissions]="'CPO'"></app-edit-role>
                            <app-new-role *ngIf="tab === 'new-role' && companies !== undefined" [companies]="companies" [smallScreen]="smallScreen"></app-new-role>
                        </div>
                    </mat-sidenav-content>
                </mat-sidenav-container>
            </div>
        </div>
    </div>
</div>