:host {
    display: block;
    height: calc(100%);
}

.background {
    min-height: calc(100%);
    background-color: rgb(252, 252, 252);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-users {
    height: calc(100vh - 180px);
}

.example-sidenav-content {
    height: 100%;
}

.whitebg {
    background-color: white;
}