<div class="new-header" fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-icon-button class="close-button"  (click)="emitEvent(config.EVENT_USERS_CHANGE_COMPONENT, 'userlist')">
        <mat-icon>close</mat-icon>
    </button>
    <h2 class="ma-0 colorTitulo">Detalles de Usuario</h2>
    <span fxFlex></span>

</div>
<div class="container-form">

    <div fxLayout="row wrap">
        <div [fxFlex]="smallScreen ? 100 : '200px'" fxLayoutAlign="center start" class="text-center form-paddin">
            <div class="image-edit input-section">
                <div class="avatarimageStep">
                    <img [src]="cu ? avatars[cu].image : avatars[0].image" alt="" class="iconimage">
                </div>
                <a [matMenuTriggerFor]="menu" mat-icon-button mat-raised-button color="accent" class="display-bottom-right">
                    <mat-icon>create</mat-icon>
                </a>
            </div>
            <mat-menu #menu="matMenu" class="avatarmenu">
                <div fxLayout="row wrap" class="menu-images">
                    <div class="avataroption" *ngFor="let a of avatars">
                        <img [src]="a.image" class="avatar" (click)="cu = a.index">
                    </div>
                </div>
            </mat-menu>
        </div>
        <div fxFlex class="form-paddin">
            <form [formGroup]="form"  autocomplete="off">
                <div class="input-section">
                    <mat-form-field appearance="outline" class="input-all" color="primary">
                        <mat-label>Nombre y Apellido</mat-label>
                        <input matInput type="text" placeholder="Ingrese la información de la persona" formControlName="name" class="text-md">
                        <mat-error *ngIf="form.controls.name.invalid">Debe Ingresar un nombre y apellido válido</mat-error>
                        <mat-hint>Ingrese el nombre y apellido de la persona a la que pertenece el usuario</mat-hint>
                    </mat-form-field>
                </div>
                <div class="input-section">
                    <mat-form-field appearance="outline" class="input-all" color="primary">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" placeholder="Ingrese el nombre del usuario" formControlName="username" class="text-md">
                        <mat-error *ngIf="form.controls.username.invalid">Debe Ingresar un nombre de usuario válido</mat-error>
                        <mat-hint>El usuario no puede contener espacios ni caracteres especiales</mat-hint>
                    </mat-form-field>
                </div>
                <div class="input-section">
                    <mat-form-field appearance="outline" class="input-all" color="primary">
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="text" placeholder="Ingrese el nombre Correo Electrónico del usuario" formControlName="email" class="text-md">
                        <mat-error>Debe ingresar un correo electrónico válido</mat-error>
                        <mat-hint>El correo es necesario para recuperar la contraseña.</mat-hint>
                    </mat-form-field>
                </div>
                <div class="input-section">
                    <mat-form-field appearance="outline" class="input-all" color="primary">
                        <mat-label>Rol Asignado</mat-label>
                        <mat-select placeholder="Seleccione el Rol" class="text-md" formControlName="role">
                            <mat-option *ngFor="let r of roles" [value]="r._id">{{r.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.name.invalid">Debe Seleccionar un rol</mat-error>
                        <mat-hint>Seleccione un rol creado para asignar los permisos y accesos al usuario</mat-hint>
                    </mat-form-field>
                </div>
                <div   class="input-section">
                    <mat-form-field appearance="outline" class="input-all" color="primary">
                      <mat-label>Sucursal Asignada</mat-label>
                      <mat-select placeholder="Seleccione una surusal" class="text-md" formControlName="cellar">
                        <mat-option *ngFor="let c of cellars" [value]="c._id">{{c.name}}</mat-option>
                      </mat-select>
                      <mat-hint>Seleccione una sucursal para asignar al usuario (Sí el rol es de ADMINISTRADOR O REPARTIDOR no es necesario seleccionar una sucursal).</mat-hint>
                    </mat-form-field>
                  </div>
                <br><br>
                <div class="input-section" fxLayout="row wrap">
                    <button mat-stroked-button *ngIf="!loading" color="primary" class="product-font" (click)="emitEvent(config.EVENT_USERS_CHANGE_COMPONENT, 'userlist')">Cancelar</button> &nbsp;
                    <button mat-flat-button  *ngIf="!loading" [disabled]="this.form.invalid" color="primary" (click)="updateUser()" class="product-font">Guardar Cambios</button>
                    <span fxFlex></span>
                    <button mat-stroked-button *ngIf="!loading"  color="warn" class="product-font" (click)="deleteUser()">
                        <mat-icon class="material-icons-outlined svg-in-button">delete</mat-icon>
                        {{ smallScreen ? '':'Eliminar Usuario'}}
                    </button>
                </div>
                <mat-progress-spinner fxLayoutAlign="center center" *ngIf="loading" mode="indeterminate" diameter="50" color="warn">
                </mat-progress-spinner>
            </form>
        </div>
    </div>
</div>