<header class="header">
    <h1 class="ma-0 product-font">Detalles del Proveedor</h1>
    <span fxFlex></span>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div *ngIf="editMode === false">
    <div fxLayout="row wrap" class="content">
        <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row wrap">
            <div fxFlex="50px">
                <mat-icon class="text-muted material-icons-outlined colorTitulo">person</mat-icon>
            </div>
            <div fxFlex class="input-padding">
                <h2>{{ data.provider.name }}</h2>
                <span fxFlex></span>
                <button mat-icon-button (click)="editMode = true">
                    <mat-icon class="material-icons-outlined colorTitulo">create</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row wrap" class="lastsection">
            <div fxFlex="50px">
                <mat-icon class="text-muted material-icons-outlined colorTitulo">info</mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100" class=" text-muted input-padding">
                    {{ data.provider.nit }}
                </div>
                <div fxFlex="100" class=" text-muted input-padding">
                    {{ data.provider.phone }}
                </div>
                <div fxFlex="100" class=" text-muted input-padding">
                    {{ data.provider.address }}
                </div>
                <div fxFlex="100" class=" text-muted input-padding">
                    {{ data.provider.email }}
                </div>
                <div fxFlex="100" class=" text-muted input-padding">
                    {{ data.provider.creditDays }}
                </div>
                <div fxFlex="100" class=" text-muted input-padding">
                    Q {{ data.provider.credit | number: '.2' }}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="editMode === true">
    <form [formGroup]="form" fxLayout="row wrap">
        <div class="clientspace" data-simplebar>
            <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
                <div fxFlex="50px"></div>
                <div fxFlex="50px" fxHide.xs>
                    <mat-icon color="accent" class="mSaterial-icons-outlined grayicon">integration_instructions
                    </mat-icon>
                </div>
                <div fxFlex fxLayout="row wrap">
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="name" type="text" matInput placeholder="Ingrese el nombre del proveedor">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Teléfono</mat-label>
                            <input formControlName="phone" type="text" matInput placeholder="Ingrese el Teléfono del proveedor">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50px"></div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
                <div fxFlex="50px"></div>
                <div fxFlex="50px" fxHide.xs>
                    <mat-icon color="accent" class="mSaterial-icons-outlined grayicon">location_on
                    </mat-icon>
                </div>
                <div fxFlex fxLayout="row wrap">
                    <div fxFlex="100%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Direccion</mat-label>
                            <input formControlName="address" type="text" matInput placeholder="Ingrese la dirección del proveedor">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50px"></div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
                <div fxFlex="50px"></div>
                <div fxFlex="50px" fxHide.xs>
                    <mat-icon color="accent" class="mSaterial-icons-outlined grayicon">contacts
                    </mat-icon>
                </div>
                <div fxFlex fxLayout="row wrap">
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>NIT</mat-label>
                            <input formControlName="nit" type="text" matInput placeholder="Ingrese el NIT del proveedor">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Correo</mat-label>
                            <input formControlName="email" type="text" matInput placeholder="Ingrese el correo del proveedor">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50px"></div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
                <div fxFlex="50px"></div>
                <div fxFlex="50px" fxHide.xs>
                    <mat-icon color="accent" class="mSaterial-icons-outlined grayicon">event
                    </mat-icon>
                </div>
                <div fxFlex fxLayout="row wrap">
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Días de Crédito</mat-label>
                            <input formControlName="creditDays" type="number" matInput placeholder="Ingrese la cantidad de días al crédito brindados por el proveedor">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                        <mat-form-field appearance="outline" color="primary" class="width-all">
                            <mat-label>Crédito</mat-label>
                            <input formControlName="credit" type="number" matInput placeholder="Ingrese la cantidad de crédito brindado por el proveedor">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50px"></div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex="100px" fxHide.xs></div>
            </div>
        </div>
    </form>
    <div class="header">
        <!-- *ngIf="data.providersp.includes('delete') && !loading"> -->
        <button mat-stroked-button (click)="delete()" color="warn" *ngIf="!loading">
            <mat-icon class="material-icons-outlined" color="warn">delete</mat-icon> Eliminar
        </button>
        <span fxFlex></span>
        <button mat-button *ngIf="!loading" (click)="editMode = false">Cancelar</button>
        <!-- *ngIf="data.providersp.includes('update') && !loading">Guardar</button> -->
        <button mat-button (click)="saveClient()" color="primary" *ngIf="!loading">Guardar</button>
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn"></mat-progress-spinner>
    </div>
</div>
