<div fxFlex="column" class="my-container">
    <div fxFlex="row" class="card mat-elevation-z2">
        <div fxLayout="row">
            <h2>Configuración de Estadísticas</h2>
        </div>
        <div fxLayout="row">
            <div fxFlex="20px"></div>
            <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                <mat-icon color="accent" class="material-icons-outlined">store_mall_directory
                </mat-icon>
            </div>
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Sucursal</mat-label>
                    <mat-select [(ngModel)]="currentCellar2">
                        <mat-option *ngFor="let c of cellars" [value]="c._id">
                            {{ c.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex class="inputpadding" [formGroup]="range">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Laboratorio</mat-label>
                    <input type="text" placeholder="Ingrese un laboratorio" aria-label="text" matInput
                        formControlName="_brand" [matAutocomplete]="auto1">
                    <mat-autocomplete id="_brand" autoActiveFirstOption #auto1="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- END Brand -->
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Introduzca un rango de fechas</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="startDate" placeholder="Fecha de inicio">
                        <input matEndDate formControlName="endDate" placeholder="Fecha de finalización">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error *ngIf="range.get('startDate').hasError('matStartDateInvalid')">Fecha de inicio no válida
                    </mat-error>
                    <mat-error *ngIf="range.controls.endDate.hasError('matEndDateInvalid')">Fecha de finalización no
                        válida
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20px"></div>
        </div>
        <div fxLayout="row">
            <div fxFlex="20px"></div>
            <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                <mat-icon color="accent" class="material-icons-outlined">calculate
                </mat-icon>
            </div>
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Dias que tarda un proveedor en realizar entrega</mat-label>
                    <input [(ngModel)]="daysOfRequest" matInput type="number">
                </mat-form-field>
            </div>
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Días que se desea mantener abastecido</mat-label>
                    <input [(ngModel)]="supplyDays" matInput type="number">
                </mat-form-field>
            </div>
            <div fxFlex class="inputpadding" fxFlexAlign="center" fxFlexFill>
                <button *ngIf="!loading" mat-raised-button (click)="loadSettings()" color="warn">Generar
                    Cálculos</button>
                <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
                </mat-progress-spinner>
            </div>
            <div fxFlex="20px"></div>
        </div>
        <br>
        <hr>
        <div *ngIf="!loadingData && !setData" fxLayout="row">
            <div fxFlex fxFlexAlign="center" fxFlexFill>
                <h3>Obteniendo datos para realizar calculos.</h3>
            </div>
        </div>
        <div *ngIf="loadingData && setData" fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen">
            <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
        </div>
        <div fxLayout="row">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let error of errores2">{{error.barcode}}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>