<mat-drawer-container>
    <mat-drawer #drawer mode="over">
        <header fxLayout="row wrap" fxLayoutAlign="start center">
            <h2 class="ma-0">Nuevo Cheque a proveedor</h2>
            <span fxFlex></span>
            <button mat-icon-button (click)="drawer.opened = false">
          <mat-icon>close</mat-icon>
        </button>
        </header>
        <app-new-provider-check></app-new-provider-check>
    </mat-drawer>
    <mat-drawer-content>
        <ngx-simplebar class="layout">
            <header fxLayout="row wrap" fxLayoutAlign="center center">
                <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-sm="40" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
                    <p>Tel: <b>{{ provider.phone }}</b></p>
                    <p>{{ provider.creditDays }} días de crédito</p>
                    <mat-chip-list *ngIf="provider.iva || provider.isr">
                        <mat-chip *ngIf="provider.iva">Retención de IVA</mat-chip>
                        <mat-chip *ngIf="provider.isr">Retención de ISR</mat-chip>
                    </mat-chip-list>
                </div>
                <div fxFlex.gt-lg="40" fxFlex.gt-md="50" fxFlex.gt-sm="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar color="warn">add</mat-icon>
                                    <mat-card-subtitle>
                                        Facturas emitidas
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q550.00
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar>remove</mat-icon>
                                    <mat-card-subtitle>
                                        Notas de abono
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q50.00
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar>remove</mat-icon>
                                    <mat-card-subtitle>
                                        Notas de crédito
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q100.00
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span>Saldo</span>
                            <span>Crédito</span>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <h2>Q400.00</h2>
                            <h2>Q1000.00</h2>
                        </div>
                    </div>
                </div>
            </header>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Documentos pendientes">
                    <ngx-simplebar class="table">
                        <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="header2">
                            <app-filter></app-filter>
                            <button mat-raised-button (click)="drawer.toggle()" color="accent">Ingresar Cheque</button>
                        </div>
                        <table mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon *ngIf="(provider.iva && !element.withholdingIVA) || (provider.isr && !element.withholdingISR)" color="warn">warning</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="noBill">
                                <th mat-header-cell *matHeaderCellDef> Documento </th>
                                <td mat-cell *matCellDef="let element"> {{element.serie}} {{ element.noBill }} </td>
                            </ng-container>

                            <ng-container matColumnDef="docType">
                                <th mat-header-cell *matHeaderCellDef> Tipo de doc. </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.docType }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="unaffectedAmount">
                                <th mat-header-cell *matHeaderCellDef> No Afecto (Q) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.unaffectedAmount | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="exemptAmount">
                                <th mat-header-cell *matHeaderCellDef> Exentos </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.exemptAmount | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="netPurchaseAmount">
                                <th mat-header-cell *matHeaderCellDef> Compras Neto (Q) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.netPurchaseAmount | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="netServiceAmount">
                                <th mat-header-cell *matHeaderCellDef> Servicios Neto (Q) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.netServiceAmount | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="otherTaxes">
                                <th mat-header-cell *matHeaderCellDef> Otros Impuestos </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.otherTaxes | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="iva">
                                <th mat-header-cell *matHeaderCellDef> I.V.A. Crédito Fiscal (Q) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.iva | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef> Total (Q) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.total | number: '.2' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expirationCredit">
                                <th mat-header-cell *matHeaderCellDef> Fecha de vencimiento </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-muted"> {{ element.expirationCredit | date: 'dd/MM/yyyy' }}</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columns;  sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                            <!-- Fila mostrada cuando no hay datos coincidentes. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="13">No hay datos que coincidan con algún filtro o busqueda</td>
                            </tr>
                        </table>
                    </ngx-simplebar>
                </mat-tab>
                <mat-tab label="Historial">En proceso... </mat-tab>
            </mat-tab-group>
        </ngx-simplebar>
    </mat-drawer-content>
</mat-drawer-container>