<mat-drawer-container>
    <mat-drawer #drawer mode="over">
        <header fxLayout="row wrap" fxLayoutAlign="start center">
            <h2 class="ma-0">Nuevo Pago a proveedor</h2>
            <span fxFlex></span>
            <button mat-icon-button (click)="drawer.opened = false">
        <mat-icon>close</mat-icon>
      </button>
        </header>
        <ngx-simplebar class="check-layout">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Facturas emitidas ({{getTotalsSelection().facturas.total}})</span>
                <b>+ Q{{getTotalsSelection().facturas.amount | number: '.2'}}</b>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Notas de abono ({{getTotalsSelection().abonos.total}})</span>
                <b>- Q{{getTotalsSelection().abonos.amount | number: '.2'}}</b>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Nota de crédito ({{getTotalsSelection().creditos.total}})</span>
                <b>- Q{{getTotalsSelection().creditos.amount | number: '.2'}}</b>
            </div>
            <br>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Cheque">
                    <br>
                    <app-new-check [name]="this.provider.checkName" [amount]="this.getTotalsSelection().total.toFixed(2)" [accountsPayables]="selectedPend" (close)="drawer.opened = false"></app-new-check>
                </mat-tab>
                <mat-tab label="Transferencia - Deposito">
                    <br>
                    <app-new-balance [amount]="this.getTotalsSelection().total.toFixed(2)" [accountsPayables]="selectedPend" (close)="closePay($event)"></app-new-balance>
                </mat-tab>
            </mat-tab-group>
        </ngx-simplebar>
    </mat-drawer>
    <mat-drawer-content>
        <ngx-simplebar class="layout">
            <header fxLayout="row wrap" fxLayoutAlign="center center">
                <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-sm="40" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
                    <mat-icon matCardAvatar *ngIf="((provider.balance * 100)/ provider.credit) <= 99">business</mat-icon>
                    <mat-icon matCardAvatar *ngIf="((provider.balance * 100)/ provider.credit) > 99" color="warn" matTooltip="Límite de crédito superado">warning</mat-icon>
                    <p>Tel: <b>{{ provider.phone }}</b></p>
                    <p>{{ provider.creditDays }} días de crédito</p>
                    <mat-chip-list selectable="false" *ngIf="provider.iva || provider.isr">
                        <mat-chip *ngIf="provider.iva" color="warn" selected>Retención de IVA</mat-chip>
                        <mat-chip *ngIf="provider.isr" color="warn" selected>Retención de ISR</mat-chip>
                    </mat-chip-list>
                </div>
                <div fxFlex.gt-lg="40" fxFlex.gt-md="50" fxFlex.gt-sm="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar color="warn">add</mat-icon>
                                    <mat-card-subtitle>
                                        Facturas emitidas
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q{{ getTotalBills() | number: '.2' }}
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar>remove</mat-icon>
                                    <mat-card-subtitle>
                                        Notas de abono
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q{{ getTotalAbono() | number: '.2' }}
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-header>
                                    <mat-icon matCardAvatar>remove</mat-icon>
                                    <mat-card-subtitle>
                                        Notas de crédito
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        Q{{ getTotalCredito() | number: '.2' }}
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span>Saldo</span>
                            <span>Crédito</span>
                        </div>
                        <app-progress-balance [value]="(provider.balance * 100)/ provider.credit"></app-progress-balance>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <h2>Q{{ provider.balance | number: '.2' }}</h2>
                            <h2>Q{{ provider.credit | number: '.2' }}</h2>
                        </div>
                    </div>
                </div>
            </header>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab [label]="getTotalPending()">
                    <ngx-simplebar class="table">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="header2">
                            <app-filter (send)="applyFilterPend($event)"></app-filter>
                            <mat-chip-list selectable="true">
                                <mat-chip #all="matChip" (click)="getAll(all)" color="accent">Todos ({{accountsPayablePendTEMP ? accountsPayablePendTEMP.length : 0}})</mat-chip>
                                <mat-chip #withHolding="matChip" (click)="getWithholdings(withHolding)" color="accent">Retenciones pendientes ({{getTotalWithholdings()}})</mat-chip>
                                <mat-chip #expired="matChip" (click)="getExpired(expired)" color="accent">Vencidos ({{ getTotalExpired() }})</mat-chip>
                            </mat-chip-list>
                            <span fxFlex></span>
                            <button mat-raised-button (click)="newPay()" color="accent">Ingresar Pago</button>
                        </div>
                        <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                        <app-table-accounts-payable (sendSelected)="getSelected($event)" (sendAccountsPayable)="sendAccountsPayable.emit($event)" [accountsPayable]="accountsPayablePend" [filter]="filterPend" [addSelection]="true" [showProvider]="false"></app-table-accounts-payable>
                    </ngx-simplebar>
                </mat-tab>
                <mat-tab [label]="getTotalProcess()">
                    <ngx-simplebar class="table">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="header2">
                            <app-filter (send)="applyFilterProcess($event)"></app-filter>
                        </div>
                        <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
                        <app-table-accounts-payable (sendAccountsPayable)="sendAccountsPayable.emit($event)" [accountsPayable]="accountsPayableProcess" [filter]="filterProcess" [addSelection]="false" [showProvider]="false"></app-table-accounts-payable>
                    </ngx-simplebar>
                </mat-tab>
                <mat-tab label="Historial">En proceso... </mat-tab>
            </mat-tab-group>
        </ngx-simplebar>
    </mat-drawer-content>
</mat-drawer-container>