.header {
  padding: 28px;
}

.clientspace {
  height: 500px;
  width: 100%;
}

.grayicon {
  color: #0a1958;
}

.width-all {
  width: 100%;
  font-size: 13px;
}

.inputpadding {
  padding-left: 3px;
  padding-right: 3px;
}

.radio {
  margin-right: 10px;
  font-size: 13px;
}

.h2 {
  color: #0a1958;
}

.info-row {
  margin-bottom: 5px;
  margin-top: 3px;
}
