<div class="section-content farmacia">
    <div>
        <header class="module-header padding-15" fxLayoutAlign="start center" fxLayout="row wrap">
            <h4 class="product-font ma-0 module-title">Estadísticas</h4> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="title1 product-font ma-0">Control de pedidos, mínimos y máximos globales</h2>
        </header>
        <mat-divider></mat-divider>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Reporte de sucursales">
                <ng-template matTabContent>
                    <app-load-statistics></app-load-statistics>
                </ng-template>
            </mat-tab>
            <mat-tab label="Consolidado">
                <ng-template matTabContent>
                    <app-consolidated></app-consolidated>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>