<div id="wrapper" class="background" style="height: 100%" data-simplebar>
    <button mat-fab color="primary" class="fab mat-elevation-z10">
        <mat-icon>add</mat-icon>
      </button>
    <div id="cellarscontent" class="cellarcontent" fxFlex="100" fxLayout="row wrap">
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="cellar">
            <mat-card fxLayout="row" fxLayoutAlign="start center" matRipple class="cardwidget mat-elevation-z2">
                <button mat-mini-fab mat-card-icon class="shadow-none widgeticon">
                  <mat-icon style="color:white">home</mat-icon>
                </button>
                <div class="pl-1 pr-1">
                    <span class="widgetTitle">Nombre</span><br>
                    <span>Dirección</span>
                </div>
            </mat-card>
        </div>

    </div>
    <!-- <div id="cellarscontent" class="cellarcontent" fxFlex="100" fxLayoutAlign="center center" fxLayout="column" style="height: 80vh">
        <mat-icon class="material-icons-outlined">
            store
        </mat-icon>
        <span>No se ha agregado ningún almacen o sucursal</span>
    </div> -->

</div>