<div id="wrapper" *ngIf="cellars !== undefined" class="background" style="height: 100%" data-simplebar>
    <button (click)="newCellar()" mat-fab color="primary" class="fab mat-elevation-z10">
        <mat-icon>add</mat-icon>
        <span class="extended-fab-button__text">Sucursal</span>
      </button>
    <div id="cellarscontent" *ngIf="cellars.length > 0" class="cellarcontent" fxFlex="100" fxLayout="row wrap" fxLayout.fxFlex.gt-xs="column">
        <div *ngFor="let c of cellars" (click)="accessToCellar(c)" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="cellar">
            <mat-card fxLayout="row" fxLayoutAlign="start center" matRipple class="cardwidget mat-elevation-z2">
                <button mat-mini-fab mat-card-icon class="shadow-none widgeticon">
                  <mat-icon style="color:white">{{ getTypeIcon(c.type) }}</mat-icon>
                </button>
                <div class="pl-1 pr-1">
                    <span class="widgetTitle">{{ c.name }}</span><br>
                    <span class="limitText">{{ c.address }}</span><br>
                    <span>{{ c.type }}</span>
                </div>
            </mat-card>
        </div>

    </div>
    <div id="cellarscontent" *ngIf="cellars.length <= 0" class="cellarcontent" fxFlex="100" fxLayoutAlign="center center" fxLayout="column" style="height: 80vh">
        <mat-icon class="material-icons-outlined">
            store
        </mat-icon>
        <span>No se ha agregado ninguna bodega o farmacia</span>
    </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="cellars === undefined">
    <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
</div>