<div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
    <div fxFlex fxLayout="row wrap">
        <div fxFlex="33.33%">
            <div class="margin-T">

                <mat-card class="mat-elevation-z5">
                    <div fxFlex="column">
                        <h2 class="product-font ma-0 T1  pasive">Pendientes</h2>
                        <h2 class="pasive"><b>100</b></h2>
                    </div>
                    <div fxFlex="column end"></div>
                    <mat-icon class="fa pasive">pending</mat-icon>
                </mat-card>

                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div fxFlex="33.33%">
            <div class="margin-T">
                <mat-card class="mat-elevation-z5">
                    <div fxFlex="column">
                        <h2 class="product-font ma-0 T1 V">En Proceso</h2>
                        <h2 class="V"><b>200</b></h2>
                    </div>
                    <div fxFlex="column end"></div>
                    <mat-icon class="fa V">pending_actions</mat-icon>
                </mat-card>
                <mat-list style="padding-top: 10px;">

                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal2</small>
                        <h2 class="padding-5n V"><b>No.2122542556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">

                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal2</small>
                        <h2 class="padding-5n V"><b>No.2122542556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">

                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal2</small>
                        <h2 class="padding-5n V"><b>No.2122542556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">

                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal2</small>
                        <h2 class="padding-5n V"><b>No.2122542556</b> </h2>

                    </mat-list-item>
                </mat-list>

            </div>
        </div>
        <div fxFlex="33.33%">
            <div class="margin-T">
                <mat-card class="mat-elevation-z5">
                    <div fxFlex="column">
                        <h2 class="product-font ma-0 T1 active">En Ruta</h2>
                        <h2 class="active"><b>300</b></h2>
                    </div>
                    <div fxFlex="column end"></div>
                    <mat-icon class="fa active">where_to_vote</mat-icon>
                </mat-card>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
                <mat-list style="padding-top: 10px;">
                    <mat-list-item class="assigned-job mat-elevation-z4">
                        <h4 mat-line>12/02/2021</h4>
                        <small mat-line class="text-muted">Sucursal1</small>
                        <h2 class="padding-5n V"><b>No.21232556</b> </h2>

                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>