<div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } ">
    <div class="section-content">
        <div>
            <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
                <h1 class="product-font ma-0 module-title">Carga de archivos</h1>
            </header>
            <mat-divider></mat-divider>
            <div fxLayout="row wrap" class="module-container" data-simplebar>
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Inventario">
                        <div fxFlex="column" class="my-container">
                            <div fxFlex="row" class="card mat-elevation-z2">
                                <div fxLayout="row">
                                    <h2>Ingreso de inventarios</h2>
                                </div>
                                <div fxLayout="row">
                                    <div fxFlex="20px"></div>
                                    <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                                        <mat-icon color="accent" class="material-icons-outlined">upload_file
                                        </mat-icon>
                                    </div>
                                    <div fxFlex class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Sucursal</mat-label>
                                            <mat-select [(ngModel)]="currentCellar">
                                                <mat-option *ngFor="let c of cellars" [value]="c._id">
                                                    {{ c.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex class="inputpadding">
                                        <mat-form-field appearance="outline" class="width-all">
                                            <mat-label>
                                                .xlsx
                                            </mat-label>
                                            <ngx-mat-file-input #removableInput [(ngModel)]="currentFile" placeholder="Ingrese un archivo">
                                            </ngx-mat-file-input>
                                            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="20px"></div>
                                </div>
                                <div fxLayout="row">
                                    <span fxFlex></span>
                                    <button *ngIf="!loading" mat-raised-button (click)="loadStorage()" color="warn">Cargar archivo</button>
                                    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
                                    </mat-progress-spinner>
                                    <span fxFlex></span>
                                </div>
                                <br>
                                <hr>
                                <div fxLayout="row">
                                    <h3>Listado de códigos no encontrados:</h3>
                                </div>
                                <div fxLayout="row">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem" *ngFor="let error of errores">{{error.barcode}}
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Ventas">
                        <div fxFlex="column" class="my-container">
                            <div fxFlex="row" class="card mat-elevation-z2">
                                <div fxLayout="row">
                                    <h2>Ingreso de ventas</h2>
                                </div>
                                <div fxLayout="row">
                                    <div fxFlex="20px"></div>
                                    <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                                        <mat-icon color="accent" class="material-icons-outlined">upload_file
                                        </mat-icon>
                                    </div>
                                    <div fxFlex class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Sucursal</mat-label>
                                            <mat-select [(ngModel)]="currentCellar2">
                                                <mat-option *ngFor="let c of cellars" [value]="c._id">
                                                    {{ c.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex class="inputpadding">
                                        <mat-form-field appearance="outline" color="primary" class="width-all">
                                            <mat-label>Fecha</mat-label>
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="currentDate" title="Fecha de venta" placeholder="Ingrese una fecha">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex class="inputpadding">
                                        <mat-form-field appearance="outline" class="width-all">
                                            <mat-label>
                                                .xlsx
                                            </mat-label>
                                            <ngx-mat-file-input #removableInput [(ngModel)]="currentFile2" placeholder="Ingrese un archivo">
                                            </ngx-mat-file-input>
                                            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="20px"></div>
                                </div>
                                <div fxLayout="row">
                                    <span fxFlex></span>
                                    <button *ngIf="!loading" mat-raised-button (click)="loadSaleDelete()" style="color: brown;">Anular archivo</button>
                                    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
                                    </mat-progress-spinner>
                                    <button *ngIf="!loading" mat-raised-button (click)="loadSale()" color="warn">Cargar
                                        archivo</button>
                                    <span fxFlex></span>
                                </div>
                                <br>
                                <hr>
                                <div fxLayout="row">
                                    <h3>Listado de códigos no encontrados:</h3>
                                </div>
                                <div fxLayout="row">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem" *ngFor="let error of errores2">{{error.barcode}}
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Generar Estadisticas">
                        <app-statistics></app-statistics>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>