<div fxLayout="row wrap" class="my-container " data-simplebar>
    <!-- <div class="container-strech"> -->
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
      <button *ngIf="smallScreen" class="new-button-sm" mat-icon-button (click)="newOrder()">
        <svg class="svg-24 svg-in-button" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
        </svg>
      </button>
      <mat-form-field appearance="outline" floatLabel="always" class="findinput">
        <mat-label>Buscar</mat-label>
        <mat-icon class="text-muted" matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter2($event)" type="text">
      </mat-form-field>
      <span fxFlex></span>
      <mat-form-field appearance="outline" color="primary" class="findinput">
        <mat-label>Filtro</mat-label>
        <mat-select [(ngModel)]="currentFilter" (selectionChange)="applyFilter()">
          <mat-option value="current">Mes actual</mat-option>
          <mat-option value="last">Mes anterior</mat-option>
          <mat-option value="month">Seleccionar Mes</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-select (selectionChange)="applyFilter()"
        [ngStyle]="{'display': currentFilter === 'month' ? 'inline': 'none'}" class="dateinput"
        [(ngModel)]="this.month">
        <mat-option [value]="1">Enero</mat-option>
        <mat-option [value]="2">Febrero</mat-option>
        <mat-option [value]="3">Marzo</mat-option>
        <mat-option [value]="4">Abril</mat-option>
        <mat-option [value]="5">Mayo</mat-option>
        <mat-option [value]="6">Junio</mat-option>
        <mat-option [value]="7">Julio</mat-option>
        <mat-option [value]="8">Agosto</mat-option>
        <mat-option [value]="9">Septiembre</mat-option>
        <mat-option [value]="10">Octubre</mat-option>
        <mat-option [value]="11">Noviembre</mat-option>
        <mat-option [value]="12">Diciembre</mat-option>
      </mat-select>
      <mat-select (selectionChange)="applyFilter()"
        [ngStyle]="{'display': currentFilter === 'month' ? 'inline': 'none'}" *ngIf="currentFilter === 'month'"
        class="dateinput" [(ngModel)]="this.year">
        <mat-option
          *ngFor="let y of [2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033,2034,2035,2036,2037,2038,2039,2040]"
          [value]="y">{{ y }}</mat-option>
      </mat-select>
    </div>
    <button *ngIf="!smallScreen && purchasesp.includes('create')" mat-fab color="primary"
      class="fab mat-elevation-z10" [routerLink]="'/purchases/new'">
      <mat-icon>add</mat-icon><span class="extended-fab-button__text">Factura</span>
    </button>
    <div *ngIf="purchases !== undefined && purchasesp.includes('read')" class="allspace" data-simplebar>

      <table mat-table matSort matTableResponsive [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z2 noborder-table ">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon color="primary" class="material-icons-outlined">summarize</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="noBill">
          <th mat-header-cell *matHeaderCellDef> No. Factura </th>
          <td mat-cell *matCellDef="let element"> {{element.noBill}} </td>
        </ng-container>
        <ng-container matColumnDef="_provider">
          <th mat-header-cell *matHeaderCellDef> Proveedor </th>
          <td mat-cell *matCellDef="let element">
            {{element._provider}}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date }} </td>
        </ng-container>
        <ng-container matColumnDef="requisition">
          <th mat-header-cell *matHeaderCellDef> Requicisión </th>
          <td mat-cell *matCellDef="let element">
            {{element.requisition}}
          </td>
        </ng-container>
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef> Método de Pago </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip *ngIf="element.payment === 'CONTADO'" selected color="warn">
                Contado
              </mat-chip>
              <mat-chip *ngIf="element.payment === 'CREDITO'">
                Crédito
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">
            Q. {{element.total}}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Detalles </th>
              <td mat-cell *matCellDef="let element"> {{element.details}} </td>
            </ng-container> -->
        <ng-container matColumnDef="_user">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element">
            {{element._user}}
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef style="max-width: 100px;">Opciones</th>
          <td mat-cell *matCellDef="let element" style="max-width: 100px;">
            <button mat-icon-button (click)="details()">
              <mat-icon>visibility</mat-icon>
            </button>&nbsp;
            <button mat-icon-button [routerLink]="'updatePrices/myID'">
              <mat-icon>request_quote</mat-icon>
            </button>&nbsp;
            <button mat-icon-button style="color:brown;">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row">
        </tr>
      </table>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen"
      *ngIf="purchases === undefined">
      <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
    </div>
    <!-- </div> -->
  </div>
