<div class="my-container" fxLayout="row wrap" data-simplebar>
    <div fxFlex fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px grid" fxLayoutGap.lt-md="10px" style=" background-color: orange;">
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: yellow;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-md="43" fxFlex.gt-sm="47" fxFlex.gt-xs="100" fxFlex.xs="100" style=" background-color: red;">
            <mat-card class=" mat-elevation-z2">
                <mat-card-subtitle>Estadísticas por sucursal</mat-card-subtitle>
                <mat-card-title>Consolidado</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>sldflskdjflksdj flksdjflksjdlfkjsldkfjlskdjfksjdlkfjs </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<!-- <div fxFlex="column" class="my-container">
    <div fxFlex="row" class="card mat-elevation-z2">
        <div fxLayout="row">
            <h2>Consolidado de Estadísticas por sucursal</h2>
        </div>
        <div fxLayout="row">
            <div fxFlex="20px"></div>
            <div fxFlex="50px" fxHide.xs fxLayoutAlign="center center">
                <mat-icon color="accent" class="material-icons-outlined">search
                </mat-icon>
            </div>
            <div fxFlex class="inputpadding">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Bodega</mat-label>
                    <mat-select [(ngModel)]="currentCellar3">
                        <mat-option *ngFor="let c of centrals" [value]="c._id">
                            {{ c.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex class="inputpadding" [formGroup]="range">
                <mat-form-field appearance="outline" color="primary" class="width-all">
                    <mat-label>Laboratorio</mat-label>
                    <input type="text" placeholder="Ingrese un laboratorio" aria-label="text" matInput formControlName="_brand" [matAutocomplete]="auto1">
                    <mat-autocomplete id="_brand" autoActiveFirstOption #auto1="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex="20px"></div>
        </div>
        <div fxLayout="row">
            <span fxFlex></span>
            <button *ngIf="!loading" mat-icon-button (click)="getConsolidated()" color="warn">Descargar en excel  <mat-icon class="material-icons-outlined">get_app</mat-icon></button>
            <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn">
            </mat-progress-spinner>
            <span fxFlex></span>
        </div>
    </div>
</div> -->