::ng-deep .mat-line{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }

  ::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
    margin-bottom: 20px;
  }

  .block-button{
    width: 100%!important;
    min-width: unset!important;
}