<div class="padding-15">
    <button mat-stroked-button color="primary" fxLayoutAlign="start center" (click)="emitEvent(config.EVENT_USERS_CHANGE_COMPONENT, 'new-role')">
        <svg class="svg-24 svg-in-button" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
        </svg>
        Nuevo Rol
    </button>
</div>
<div fxLayout="row wrap" class="padding-15">
    <mat-nav-list class="listall">
        <div *ngFor="let r of roles">
            <mat-list-item class="role" (click)="emitEvent(config.EVENT_USERS_EDIT_ROLE, r)">
                <mat-icon class="colorTitulo2" mat-list-icon>vpn_lock
                </mat-icon>
                <h3 mat-line><b class="colorTitulo">{{r.name}}</b></h3>
                <p mat-line class="text-muted" *ngIf="r.permissions">
                    <span *ngFor="let p of r.permissions"> {{p.label}} / </span>
                </p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-nav-list>
</div>