.padding-15 {
    padding: 15px;
}

.role {
    border-radius: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 100%;
    ;
}

.listall {
    width: 100%;
}

.colorTitulo2 {
    color: #045195
}

.colorTitulo {
    color: #0a1958
}