$blue: #0a1958;
$blue-2: #045195;
.section-content {
    height: calc(100%);
    background-color: white;
}

.padding-25 {
    padding: 25px;
}

.padding-15 {
    padding: 20px;
}

.component-title {
    margin-left: 25px !important;
}

.component-space {
    height: calc(100vh - 175px);
}

.component-space-sm {
    height: calc(100vh - 225px);
}

.white-bg {
    background-color: white !important;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    border: none !important;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    border: none !important;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.costumers-header {
    padding: 15px 10px;
}