<ngx-simplebar class="section-content">
    <div fxLayout="column">
        <header class="module-header padding-15" fxLayoutAlign="start center" fxLayout="row wrap">
            <h4 class="product-font ma-0 module-title">Consulta de existencias</h4> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="title1 product-font ma-0">Buscar productos en otras sucursales</h2>
            <mat-chip-list>
                <mat-chip>
                    BETA
                </mat-chip>
            </mat-chip-list>
        </header>
        <app-check-stock [showPrices]="true"></app-check-stock>
    </div>
</ngx-simplebar>