.header, .footer, .space { padding: 10px; }
.space { max-height: 400px; }
.cant { border: 1px solid rgba($color: #000000, $alpha: 0.1); padding: 12px 8px; max-width: 80px; margin-left: 5px; outline: none; text-decoration: none; }