<div class="module-container" *ngIf="selectedUser !== undefined" data-simplebar>

    <div class="new-header" fxLayout="row wrap" fxLayoutAlign="start center">
        <button mat-icon-button class="close-button" [routerLink]="'/deliveries'">
            <mat-icon>close</mat-icon>
        </button>
        <h2 color="accent" class="ma-0 info-row T">Detalles del Repartidor</h2>
    </div>
    <div  class="container-form">
        <div class="section" fxLayout="row wrap" fxLayoutAlign="start center">
            <div [fxFlex]="smallScreen ? 100 : '200px'" fxLayoutAlign="center start" class="text-center form-paddin">
                <div class="image-edit input-section">
                    <div class="avatarimageStep">
                        <img [src]="selectedUser.imageIndex ? avatars[selectedUser.imageIndex].image : avatars[0].image" class="avatarimage">
                    </div>
                </div>
            </div>
            <div [fxFlex]="smallScreen ? 100 : ''">
                <div class="input-section">
                    <h1 class="ma-0">{{selectedUser.name}}{{ selectedUser.imageIndex }}</h1>
                </div>
                <div class="input-section">
                    <h2 class="ma-0 text-muted">{{selectedUser._role.name}}</h2>
                </div>
            </div>
            <div class="input-section" fxLayout="row wrap">
                <span fxFlex></span>
AQUI VA EL ESTADO
            </div>
        </div>

        <br>

        <div class="card">
            <div class="section" fxLayout="row wrap">
                <h2 color="primary" class="product-font ma-0 T">Rutas activas</h2>
            </div><br>
            <div class="section" fxLayout="row wrap">
                <div fxFlex fxLayout="row wrap">
                    <div [fxFlex]="smallScreen ? 100 : ''" class="input-section">
                        <div *ngIf="employeejobs.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
                            <mat-icon class="text-muted material-icons-outlined">electric_moped</mat-icon>
                            <span class="text-muted">No hay rutas activas</span>
                            <button mat-stroked-button (click)="newRoute()">
                                <mat-icon>add</mat-icon> Crear Ruta
                            </button>
                        </div>
                        <div *ngIf="employeejobs.length > 0" fxLayout="column wrap">
                            <div fxLayoutAlign="center center" style="margin-bottom: 10px;">
                                <button mat-stroked-button (click)="newRoute()">
                                    <mat-icon>add</mat-icon> Crear Ruta
                                </button>
                            </div>
                            <mat-list style="padding-top: 0;">
                                <mat-list-item class="assigned-job mat-elevation-z4">
                                    <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">low_priority</mat-icon>
                                    <h4 mat-line>Fecha de Creación</h4>
                                    <!-- <span mat-line class="text-muted">Hora y fecha: {{selectedOrder.timestamps}}</span> -->
                                    <small mat-line class="text-muted">Campus: </small>
                                </mat-list-item>
                            </mat-list>
                            <mat-list style="padding-top: 0;">
                                <mat-list-item class="assigned-job mat-elevation-z4">
                                    <mat-icon mat-list-icon class="material-icons-outlined whitebg1" color="primary">chrome_reader_mode</mat-icon>
                                    <h4 mat-line>Estado</h4>
                                    <!-- <span mat-line class="text-muted">Estado: {{selectedOrder.state}}</span> -->
                                    <small mat-line class="text-muted">Campus: </small>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedUser === undefined" class="container-form spinner" fxLayout="column wrap" fxLayoutAlign="center center" >
    <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
</div>