<div class="farmacia">
  <header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
    <h2 style="margin: 0;" class="h2">Editar Ruta No. {{ route.noRoute }}</h2>
    <span fxFlex></span>
    <button mat-icon-button *ngIf="!loading" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-divider></mat-divider>
  <div class="clientspace" data-simplebar>
    <div fxLayout="row wrap" style="margin: 20px;">
      <mat-chip-list>
        <mat-chip *ngIf="route.state === 'INICIO'" selected color="primary">
          Pendiente de aceptación
        </mat-chip>
        <mat-chip *ngIf="route.state === 'RUTA'" selected color="warn">
          En ruta
        </mat-chip>
        <mat-chip *ngIf="route.state === 'FIN'" selected color="warn">
          Finalizada
        </mat-chip>
        <mat-chip *ngIf="route.state === 'RECHAZADA'" selected>
          Rechazada
        </mat-chip>
      </mat-chip-list>
      <span fxFlex></span>
      <span class="text-muted">Hora y fecha: {{route.date | date: 'dd/MM/yyyy HH:mm' }}</span>
    </div>
    <div class="section" fxLayout="row wrap">
      <div fxFlex fxFlex="50%" fxLayout="row wrap">
        <div [fxFlex]="smallScreen ? 100 : ''" class="input-section">
          <div fxLayout="column wrap">
            <div class="section" fxLayout="row wrap">
              <h2 color="primary" class="product-font ma-0 T">Ordenes agregadas a la nueva ruta</h2>
            </div><br>
          </div>
          <div *ngIf="route.details.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
            <mat-icon class="text-muted material-icons-outlined">electric_moped</mat-icon>
            <span class="text-muted">No hay ordenes agregadas a la ruta</span>
            <span class="text-muted">Por favor selecciona una orden pendiente </span>
          </div>
          <div *ngIf="route.details.length > 0" fxLayout="column wrap">
            <mat-list *ngFor="let c of  route.details" style="padding-top: 0;">
              <mat-list-item class="assigned-job mat-elevation-z4">
                <mat-icon mat-list-icon *ngIf="c._order.state !== 'ENTREGA' && route.state !== 'RECHAZADA'"
                class="material-icons-outlined whitebg" color="primary">
                receipt_long</mat-icon>
              <mat-icon mat-list-icon *ngIf="c._order.state === 'ENTREGA' && route.state !== 'RECHAZADA'"
                class="material-icons-outlined whitebg" color="warn">
                check_circle</mat-icon>
                <h4 mat-line>#{{ c._order.noOrder }} <span fxFlex></span>  Factura: {{ c._order.noBill }}</h4>
                <small mat-line class="text-muted">{{c._order.address}} </small>
                <small mat-line class="text-muted">{{ c._order.town }}, {{ c._order.department }} </small>
                <button mat-icon-button (click)="removeOrder(c._order)" *ngIf="route.state === 'INICIO'">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div fxFlex fxFlex="50%" fxLayout="row wrap">
        <mat-divider [vertical]="true"></mat-divider>
        <div *ngIf="route.state === 'INICIO'"  [fxFlex]="smallScreen ? 100 : ''" class="input-section">
          <div fxLayout="column wrap">
            <div class="section" fxLayout="row wrap">
              <h2 color="primary" class="product-font ma-0 T">Ordenes pendientes de entrega</h2>
            </div><br>
          </div>
          <div *ngIf="orders.length <= 0" fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
            <mat-icon class="text-muted material-icons-outlined">receipt_long</mat-icon>
            <span class="text-muted">No hay ordenes pendientes de entrega</span>
          </div>
          <div *ngIf="orders.length > 0" fxLayout="column wrap">
            <mat-form-field appearance="outline" floatLabel="always" class="findinput">
              <mat-label>Buscar Orden</mat-label>
              <mat-icon class="text-muted" matPrefix>search</mat-icon>
              <input matInput type="text" [(ngModel)]="searchText">
            </mat-form-field> &nbsp; &nbsp; &nbsp;
            <mat-list matRipple (click)="addOrder(c)"
              *ngFor="let c of  (orders | filter: searchText : ['noBill', 'nit', 'name', 'phone', 'address', 'town', 'department'])"
              style="padding-top: 0; cursor: pointer;">
              <mat-list-item class="assigned-job mat-elevation-z4">
                <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="primary">receipt_long</mat-icon>
                <h4 mat-line>#{{ c.noOrder }} <span fxFlex></span>  Factura: {{ c.noBill }}</h4>
                <small mat-line class="text-muted">{{c.address}} </small>
                <small mat-line class="text-muted">{{ c.town }}, {{ c.department }} </small>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div *ngIf="route.state !== 'INICIO'"  [fxFlex]="smallScreen ? 100 : ''" class="input-section">
          <div fxLayout="column wrap">
            <div class="section" fxLayout="row wrap">
              <h2 color="primary" class="product-font ma-0 T">Detalles de la ruta</h2>
            </div><br>
            <div class="section" fxLayout="row wrap">
              <h2 color="primary" class="product-font ma-0 T text-muted">Total: Q{{ getTotal() }}</h2>
            </div><br>
          </div>
          <div *ngIf="route.state === 'RUTA'"  fxLayout="column wrap" fxLayoutAlign="center center" class="joblist">
            <button mat-button *ngIf="!loading" (click)="finishRoute()"
            color="warn">
            FINALIZAR RUTA
          </button>
          </div>
          <div *ngIf="route.timeFinish" fxLayout="column wrap">
            <mat-list style="padding-top: 0;">
              <mat-list-item class="assigned-job mat-elevation-z4">
                <mat-icon mat-list-icon class="material-icons-outlined whitebg" color="warn">check_circle
                </mat-icon>
                <h4 mat-line>Entrega </h4>
                <span mat-line class="text-muted">Fecha y hora:
                  {{route.timeFinish | date: 'dd/MM/yyyy HH:mm'}}</span>
                <small mat-line class="text-muted">Tiempo de entrega:</small>
                <small mat-line class="text-muted">{{ getDays(route.date, route.timeFinish) }}
                  días,</small>
                <small mat-line class="text-muted">{{ getHours(route.date, route.timeFinish) }}
                  horas,</small>
                <small mat-line class="text-muted">{{ getMinutes(route.date, route.timeFinish) }}
                  minutos.</small>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" class="header">
      <button mat-stroked-button *ngIf="!loading" [disabled]="route.state !== 'INICIO'"   color="warn" class="product-font" (click)="delete()">
        <mat-icon class="material-icons-outlined svg-in-button">delete</mat-icon>
        {{ smallScreen ? '':'Eliminar Ruta'}}
    </button>
    <span fxFlex></span>
    <button mat-button *ngIf="!loading" (click)="dialogRef.close()" class="info-row">
      CANCELAR
    </button>
    <button mat-button *ngIf="!loading && route.state === 'INICIO'" (click)="saveRoute()" [disabled]="this.route.details.length === 0"
      color="primary">
      GUARDAR CAMBIOS
    </button>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30" color="warn"></mat-progress-spinner>
  </div>
</div>
