<div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } ">
  <div class="section-content">
    <div>
      <header class="module-header colorBarra" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
        <h2 class="product-font  module-title ht"> Rutas Pendientes</h2>
        <span fxFlex></span>
    </header>
    <mat-divider class="colorBarra"></mat-divider>
      <div *ngIf="!loading" fxLayout="row wrap">
        <div class="padding-list mat-elevation-z4 module-container">
          <button (click)="loadRoutes()" mat-fab class="fab mat-elevation-z10">
            <mat-icon>update</mat-icon><span class="extended-fab-button__text">Actualizar</span>
          </button>
          <div class="courselist" fxLayout="row wrap" data-simplebar>
            <div fxFlex="100" fxLayout="row wrap">
              <div *ngFor="let c of activeRoutes" fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-sm="50"
                fxFlex.gt-xs="50" fxFlex="100" class="jobcard user">
                <div class="job-card mat-elevation-z2" fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="100" fxLayout="row wrap" class="cover"
                    style="background-image: url('assets/images/covers/Geography.jpg');">
                    <h2 class="more">Ruta no.{{ c.noRoute }}</h2><br>
                    <span fxFlex></span>
                  </div>
                  <div fxFlex="100" fxLayout="row wrap" class="ellipsis-tex course-info">
                    <span class="text-muted">Total: {{c.details.length}} entregas</span>
                    <span fxFlex></span>
                    <span class="text-muted">{{ c._cellar.name }}</span>
                  </div>
                  <div fxFlex="90" class="margenC">
                    <div *ngIf="c.details.length > 0" fxLayout="column wrap">
                      <mat-list
                        *ngFor="let o of  (c.details | filter: searchText : ['noBill', 'nit', 'name', 'phone', 'address', 'town', 'department'])"
                        style="padding-top: 0;" class="divider" [ngClass]="{'inactive': o._order.state === 'ENTREGA'}">
                        <mat-list-item matRipple (click)="selectOrder(o._order)"
                          class="assigned-job mat-elevation-z4 cursor-pointer">
                          <mat-icon mat-list-icon *ngIf="o._order.state !== 'ENTREGA'"
                            class="material-icons-outlined whitebg" color="primary">
                            receipt_long</mat-icon>
                          <mat-icon mat-list-icon *ngIf="o._order.state === 'ENTREGA'"
                            class="material-icons-outlined whitebg" color="warn">
                            check_circle</mat-icon>
                          <h4 mat-line>#{{ o._order.noOrder }} <span fxFlex></span> Factura: {{ o._order.noBill }}
                          </h4>
                          <small mat-line class="text-muted">{{o._order.name}} </small>
                          <h4 mat-line>{{o._order.address}} </h4>
                          <h6 mat-line>{{ o._order.town }}, {{ o._order.department }}
                          </h6>
                        </mat-list-item>
                      </mat-list>
                    </div>
                    <div *ngIf="c.state === 'INICIO'" fxLayout="row">
                      <button mat-button (click)="confirmRoute('rechazar', c)" class="info-row" color="warn">
                        RECHAZAR
                      </button>
                      <span fxFlex></span>
                      <button mat-button (click)="confirmRoute('confirmar', c)" class="info-row" color="primary">
                        ACEPTAR
                      </button>
                    </div>
                    <div *ngIf="c.state === 'RUTA'" fxLayout="row">
                      <h2>En Ruta...</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" fxLayoutAlign="center center" class="loadingspin" fxLayout="column wrap">
        <mat-progress-spinner mode="indeterminate" diameter="60" color="warn">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
