<div fxLayout="row wrap" class="my-container " data-simplebar>
    <!-- <div class="container-strech"> -->
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
        <button *ngIf="smallScreen" class="new-button-sm" mat-icon-button (click)="newOrder()">
      <svg class="svg-24 svg-in-button" viewBox="0 0 24 24">
        <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>
    </button>
        <mat-form-field appearance="outline" floatLabel="always" class="findinput">
            <mat-label>Buscar</mat-label>
            <mat-icon class="text-muted" matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter2($event)" type="text">
        </mat-form-field>
    </div>
    <div *ngIf="purchases !== undefined && purchasesp.includes('read')" class="allspace" data-simplebar>
        <table mat-table matSort matTableResponsive [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z2 noborder-table ">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon color="primary" class="material-icons-outlined">summarize</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="requisition">
                <th mat-header-cell *matHeaderCellDef> Requisición </th>
                <td mat-cell *matCellDef="let element">
                    {{element.requisition}}
                </td>
            </ng-container>
            <ng-container matColumnDef="noBill">
                <th mat-header-cell *matHeaderCellDef> No. Factura </th>
                <td mat-cell *matCellDef="let element"> {{element.noBill}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            <ng-container matColumnDef="_provider">
                <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                <td mat-cell *matCellDef="let element">
                    {{element._provider.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef> Método de Pago </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip *ngIf="element.payment === 'CONTADO'" selected color="warn">
                            Contado
                        </mat-chip>
                        <mat-chip *ngIf="element.payment === 'CREDITO'">
                            Crédito
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total (Q.) </th>
                <td mat-cell *matCellDef="let element">
                    {{element.total | number: '.2'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="_lastUpdate">
                <th mat-header-cell *matHeaderCellDef> Última edición </th>
                <td mat-cell *matCellDef="let element">
                    {{element._lastUpdate.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef style="max-width: 100px;">Opciones</th>
                <td mat-cell *matCellDef="let element" style="max-width: 100px;">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="details(element)" color="warn">
              <mat-icon class="material-icons-outlined">visibility</mat-icon> Ver detalles
            </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item *ngIf="purchasesp && purchasesp.includes('delete')" (click)="delete(element)" style="color:brown;">
              <mat-icon class="material-icons-outlined">delete</mat-icon> Anular Compra
            </button>
                    </mat-menu>
                    <button mat-button *ngIf="purchasesp && purchasesp.includes('update')" [routerLink]="['updatePrices/' + element._id]" color="warn">
            ACTUALIZAR
          </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row">
            </tr>
        </table>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="purchases === undefined">
        <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
    </div>
    <!-- </div> -->
</div>