<form [formGroup]="form">

    <header class="header" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="110px" class="inputpadding">
    
            <mat-form-field color="primary" class="width-all" appearance="outline">
                <mat-label>No. Pedido</mat-label>
                <input matInput formControlName="noOrder">
            </mat-form-field>
    
        </div>
        <div fxFlex.gt-lg="15" fxFlex.gt-md="20"  fxFlex.gt-sm="25" fxFlex.gt-xs="30" fxFlex="40" class="inputpadding">
    
            <mat-form-field color="primary" class="width-all" appearance="outline">
                <mat-label>Sucursal</mat-label>
                <mat-icon matPrefix>place</mat-icon>
                <mat-select formControlName="_cellar">
                    <mat-option *ngFor="let c of cellars"  [value]="c._id" [disabled]="c._id === currentCellar._id">{{ c.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.gt-lg="15" fxFlex.gt-md="20"  fxFlex.gt-sm="25" fxFlex.gt-xs="30" fxFlex="40" class="inputpadding">
    
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Repartidor</mat-label>
                <img matPrefix class="avatar-image"  src="assets/images/deliver.jpg"/>
                <mat-select formControlName="_deliver">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let d of delivers" [value]="d">{{d.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div fxFlex *ngIf="!smallScreen" class="inputpadding">Tipo: {{ getType() }}</div>
    
    
        <div fxFlex="nogrow" class="ordertype">
            <button mat-flat-button color="primary" (click)="saveInternalOrder()">
                <mat-icon>send</mat-icon> Enviar
            </button>
        </div>
    
        <div fxFlex="100" >
            <mat-form-field appearance="outline" color="primary" class="width-all">
                <mat-label>Nota</mat-label>
                <textarea matInput formControlName="details" rows="2"  placeholder="Describe los detalles del pedido"></textarea>
            </mat-form-field>
        </div>
    </header>


</form>




<div fxLayout="row wrap">


    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="25" class="inputpadding">
            <mat-form-field class="width-all" color="primary" appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="quantity" (keyup.enter)="add()" type="number">
            </mat-form-field>
        </div>
        <div fxFlex class="inputpadding">
           



            <mat-form-field appearance="outline" color="warn" class="width-all">
                <!-- <span matPrefix *ngIf="!myControl.invalid" class="inputPresentation">{{ myControl.value.presentations.name }} &nbsp;</span> -->
                <input matInput [matAutocomplete]="auto" [formControl]="myControl" placeholder="Buscar producto..." aria-label="State">
                <mat-error *ngIf="myControl.invalid">Seleccione un producto de la lista.</mat-error>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getShowDescription">
                    <mat-option *ngIf="isLoading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let product of filteredProducts" [value]="product">
                            <div fxFlex="row wrap">
                                <span><b>{{product.code}}</b> | {{product.description}} | {{
                                    product._brand.name }}</span>
                                <div fxFlex></div>
                                <mat-chip-list class="chip-padding">
                                    <mat-chip class="chip-color">{{ product.presentations.name }}</mat-chip>
                                    <mat-chip>{{ product.presentations.quantity }} ud.</mat-chip>
                                </mat-chip-list>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>



        </div>
        <div class="inputpadding" fxFlex="nogrow" (click)="add()">
            <button mat-flat-button color="primary">Agregar</button>
        </div>
    </div>

    <div fxLayout="row wrap" fxFlex="100">
        <div fxFlex="40px"></div>
        <div class="cell cell-header" fxFlex="25">Cantidad</div>
        <div class="cell cell-header" fxFlex>Producto</div>
        <div class="cell cell-header" *ngIf="!smallScreen" fxFlex="15">Presentación</div>
        <div class="cell cell-header" *ngIf="!smallScreen" fxFlex="15">Unidad</div>
        <div class="cell cell-header" fxFlex="125px">Existencia</div>
    </div>
</div>

<div [ngClass]="{'detail': !smallScreen, 'detail-sm': smallScreen}" data-simplebar>

    <div fxLayout="row wrap">

        <div fxFlex="100" *ngFor="let p of addedProducts" fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex="40px"><button mat-icon-button (click)="remove(p)"><mat-icon>close</mat-icon></button></div>
            
            <input class="cell-input width-all" [(ngModel)]="p.quantity"  fxFlex="25">
            <div class="cell-row" fxFlex>{{p._product.description}}</div>
            <div class="cell-row" *ngIf="!smallScreen" fxFlex="15">{{p._product.presentations.name}}</div>
            <div class="cell-row" *ngIf="!smallScreen" fxFlex="15">{{p._product.unity}}</div>
            <div class="cell-row" fxFlex="125px">{{p.stock}}</div>
        </div>
    </div>
</div>

