.my-layout {
    height: calc(100vh - 231px);
    padding: 15px 0px 24px 0px;
}

header {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

mat-card {
    border-radius: 10px;
}

table {
    margin-bottom: 24px;
    border-radius: 10px;
}

.mat-table-sticky {
    background: #f6fbe6;
    opacity: 1;
}

.example-sticky-toggle-group {
    margin: 8px;
}

.warning-card {
    background: #f6fbe6;
    opacity: 1;
}