.screen-space { height: calc(100vh - 161px); background-color: white;}
.screen-space-sm { height: calc(100vh - 143px); background-color: white;}
.orderpanel { width: 100%; }
.header {padding: 10px;}
.T1 { color: #045195;  font-size: 20px;}
.V {color: #0a1958;}
.ammounttitle { padding: 10px 26px; border-left: 1px solid rgba(0, 0, 0, 0.1);}
.pasive { color: rgb(179, 61, 61);}
.active { color: rgb(78, 129, 73);}
.filterbutton {margin: 0px 8px}
.orderheader { padding: 5px 10px; }
.space {
    height: calc(100% - 92px);
    background-color: rgba($color: #000000, $alpha: 0.05);
}
.space-sm {
    height: calc(100% - 93px);
}
.tab-space { height: calc(100%); }
.tab { height: calc(100vh - 304px); padding: 10px; background-color: rgba($color: #000000, $alpha: 0.05); }
.tab-sm { height: calc(100vh - 308px); padding: 10px; background-color: rgba($color: #000000, $alpha: 0.05); }
.request-space { padding: 10px 15px; }
.list-space { padding: 0px 15px; }
.card-icon {
    font-size: 40px;
}
.card-row { padding-bottom: 5px; }
.messagenot { margin-top: 10px; }
.order-card { margin-bottom: 15px; }

.tab-bg { padding: 10px;  }
.tab-load { padding: 10px; height: calc(100vh - 320px); }
.title-row { padding: 10px; }
.list-icon { margin-right: 10px; }

.avatar-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}