<div class="section-content">
    <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }"
        fxLayoutAlign="start center" fxLayout="row wrap">
        <h1 class="product-font ma-0 module-title">
            Inventario de Productos</h1>
        <mat-chip-list>
            <mat-chip>
                BETA
            </mat-chip>
        </mat-chip-list>
    </header>
    <!-- <button mat-fab color="primary" class="fab mat-elevation-z10" (click)="addNewProduct()"> -->
    <!-- <button mat-fab color="primary" class="fab mat-elevation-z10" (click)="addNewProduct()"> -->
    <mat-divider></mat-divider>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">thumb_up</mat-icon>
                First
            </ng-template>
            <app-general-inventory></app-general-inventory>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">thumb_up</mat-icon>
                Second
            </ng-template>
            <app-pending-inventory></app-pending-inventory>
        </mat-tab>

    </mat-tab-group>

</div>