<div class="farmacia">

    <header fxLayout="row wrap" fxLayoutAlign="center center" class="header">
        <h2 style="margin: 0;" class="h2">Nuevo Empleado</h2>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <mat-divider></mat-divider>
    <div class="clientspace" data-simplebar>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">person</mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput placeholder="Ingrese el nombre del empleado">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">perm_phone_msg
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>NIT</mat-label>
                        <input type="text" matInput placeholder="Ingrese el NIT">
                    </mat-form-field>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Teléfono</mat-label>
                        <input type="text" matInput placeholder="Ingrese el número de Teléfono">
                    </mat-form-field>
                </div>

            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">place
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Dirección</mat-label>
                        <input type="text" matInput placeholder="Ingrese la Dirección">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">not_listed_location
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Zona</mat-label>
                        <input type="text" matInput placeholder="Ingrese la Zona">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <div fxFlex="100px" fxHide.xs>
                    <mat-icon color="accent" class="material-icons-outlined grayicon">public
                    </mat-icon>
                </div>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Municipio</mat-label>
                        <mat-select>
                            <mat-option>
                                j.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Departamento</mat-label>
                        <mat-select>

                            <mat-option>
                                j.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">business
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Empresa</mat-label>
                        <input type="text" matInput placeholder="Ingrese la Dirección">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">local_shipping
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Transporte</mat-label>
                        <input type="text" matInput placeholder="Ingrese la Zona">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 8px;">
            <div fxFlex="100px" fxHide.xs>
                <mat-icon color="accent" class="material-icons-outlined grayicon">monetization_on
                </mat-icon>
            </div>
            <div fxFlex fxLayout="row wrap">
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Límite de dias de Crédito</mat-label>
                        <mat-select>
                            <mat-option>
                                No hay ningún puesto agregado
                            </mat-option>
                            <div>
                                <mat-option>
                                    j.name }}
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" class="inputpadding">
                    <mat-form-field appearance="outline" color="primary" class="width-all">
                        <mat-label>Límite de Crédito</mat-label>
                        <span matPrefix><b>Q.</b></span>
                        <input type="text" matInput placeholder="Ingrese el salario">
                    </mat-form-field>
                </div>

            </div>
            <div fxFlex="100px"></div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="100px" fxHide.xs></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="header">
        <button mat-button class="info-row">
            CANCELAR
        </button>
        <span fxFlex></span>
        <button mat-button color="primary">
            GUARDAR
        </button>
    </div>
</div>