<!-- <div [dir]="dir" *ngIf="currentStore !== undefined" class="blue-light-theme app mat-typography" [ngClass]="{'side-panel-opened': sidePanelOpened }"> -->
<div class="blue-light-theme app mat-typography">
    <div class="toolbar mat-elevation-z4 accentBG" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="collapse = !collapse">
      <mat-icon class="menu-3">menu</mat-icon>
    </button>
        <span class="product-title" fxLayoutAlign="start center">
      <img src="assets/images/icono1.png" class="icon-size">
      <span *ngIf="!this.mediaMatcher.matches">FARMACIAS DE OCCIDENTE</span>
        </span>
        <span fxFlex></span>
        <div class="currentStore" *ngIf="isAdmin" fxLayoutAlign="start center" [matMenuTriggerFor]="menuSotres">
            <div class="cellar-image" fxLayoutAlign="center center">
                <mat-icon>{{ getTypeIcon(currentStore.type) }}</mat-icon>
            </div>
            <span *ngIf="!mediaMatcher.matches">{{ currentStore.name }}</span>
            <span fxFlex></span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <mat-menu #menuSotres="matMenu">
            <button mat-menu-item *ngFor="let c of cellars" (click)="accessToCellar(c)">
        <mat-icon class="material-icons-outlined">{{ getTypeIcon(c.type) }}</mat-icon>
        {{ c.name }}
      </button>
            <!-- <button mat-menu-item (click)="newCellar()">
                <mat-icon>add</mat-icon>
                Nuevo
            </button> -->
        </mat-menu>
        <button mat-icon-button class="optionbutton" (click)="showPanel('notifications')">
      <mat-icon *ngIf="notifications.length === 0">notifications_none</mat-icon>
      <mat-icon [matBadge]="notifications.length" matBadgeColor="warn" *ngIf="notifications.length > 0">notifications
      </mat-icon>
    </button>
        <!-- <button  mat-icon-button class="optionbutton" (click)="showPanel('messages')">
            <mat-icon matBadge="5" matBadgeColor="warn">chat_bubble_outline</mat-icon>
        </button> -->
        <button mat-icon-button class="optionbutton avatartopbutton" [matMenuTriggerFor]="menu">
      <img [src]="getImage()" alt="Avatar" class="avatar-top">
    </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
            <button mat-menu-item (click)="showProfile()">
        <mat-icon>account_circle</mat-icon>
        <span>Mi perfil</span>
      </button>
        </mat-menu>
    </div>
    <app-notifications *ngIf="this.currentPanel=== 'notifications'" [notifications]="notifications" (notificationTitle)="deleteNotifications($event)"></app-notifications>
    <!-- <app-messages *ngIf="this.currentPanel=== 'messages'"></app-messages> -->
    <mat-sidenav-container class="sidenav-container app-inner">
        <mat-sidenav id="sidebar-panel" [mode]="this.mediaMatcher.matches ? 'over' : 'side'" [(opened)]="collapse" (open)="sidePanelOpened = true" (close)="sidePanelOpened = false" #sidemenu [ngStyle]="{ width: '250px' }" style="margin-top: 0; padding-top: 0 !important;">
            <mat-nav-list style="padding-top: 0;">
                <mat-list-item *ngIf="isAdmin" (click)="back()" class="menu-items">
                    <mat-icon color="accent" mat-list-icon>arrow_back</mat-icon>
                    <h4 mat-line>Panel Principal</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item routerLink="/" class="menu-items">
                    <mat-icon color="accent" mat-list-icon>dashboard</mat-icon>
                    <h4 mat-line>Inicio</h4>
                </mat-list-item>
                <div *ngFor="let m of menuItems" [ngClass]="{'linkopen':m.open}">
                    <mat-list-item *ngIf="m.type === 'link'" [routerLink]="m.state" class="menu-items">

                        <svg *ngIf="m.svg" style="width:24px;height:24px" mat-list-icon viewBox="0 0 24 24">
              <path fill="#404040" [attr.d]="m.svg" />
            </svg>
                        <mat-icon *ngIf="m.icon" class="material-icons-outlined" color="accent" mat-list-icon>{{ m.icon }}
                        </mat-icon>
                        <h4 mat-line>{{ m.name }}</h4>
                        <span fxFlex></span>
                        <mat-icon *ngIf="m.children" class="menu-button" color="accent" [ngClass]="{'rotated' : m.open}">expand_more
                        </mat-icon>
                    </mat-list-item>
                    <mat-list-item class="menu-items" *ngIf="m.type === 'sub'" (click)="m.open = !m.open">

                        <svg *ngIf="m.svg" style="width:24px;height:24px" mat-list-icon viewBox="0 0 24 24">
              <path fill="#404040" [attr.d]="m.svg" />
            </svg>
                        <mat-icon *ngIf="m.icon" class="material-icons-outlined" color="accent" mat-list-icon>{{ m.icon }}
                        </mat-icon>
                        <h4 mat-line>{{ m.name }}</h4>
                        <span fxFlex></span>
                        <mat-icon *ngIf="m.children" class="menu-button" color="accent" [ngClass]="{'rotated' : m.open}">expand_more
                        </mat-icon>
                    </mat-list-item>
                    <div *ngIf="m.children" id="{{m.state}}" class="submenu" [ngClass]="{'expanded' : m.open}">
                        <mat-list-item *ngFor="let c of m.children" [routerLink]="c.state" style="padding-left: 15px;" class="menu-items">
                            <svg *ngIf="c.svg" style="width:24px;height:24px" mat-list-icon viewBox="0 0 24 24">
                <path fill="#404040" [attr.d]="c.svg" />
              </svg>
                            <mat-icon class="material-icons-outlined" color="accent" *ngIf="c.icon" mat-list-icon>{{ c.icon }}
                            </mat-icon>
                            <h4 mat-line>{{ c.name }}</h4>
                            <span fxFlex></span>
                        </mat-list-item>
                    </div>
                </div>
                <div class="bottomStick">
                    <mat-list-item *ngIf="wsService.socketStatus" class="menu-items">
                        <mat-icon color="warn" mat-list-icon>sensors</mat-icon>
                        <h4 mat-line>En línea</h4>
                    </mat-list-item>
                    <mat-list-item *ngIf="!wsService.socketStatus" class="menu-items">
                        <mat-icon style="color: rgba(233, 21, 21, 0.75) !important;" mat-list-icon>sensors_off</mat-icon>
                        <h4 mat-line>Sin conexión</h4>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>

</div>