<div fxLayout="row" fxLayoutAlign="center stretch" class="my-container">
    <div fxFlex.gt-sm="70">
        <form [formGroup]="form">
            <mat-card class="form mat-elevation-z8">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="accent">warning</mat-icon>
                    <mat-card-title>INGRESO DE ESTADÍSTICAS</mat-card-title>
                    <mat-card-subtitle>Se actualizarán los pedidos sugeridos, mínimos y máximos en su inventario</mat-card-subtitle>
                </mat-card-header>
                <hr>
                <mat-card-content fxLayout="column">
                    <br>
                    <div fxLayout="row" fxLayoutGap="5px">
                        <app-brand fxFlex (send)="getBrand($event)" [focus]="true"></app-brand>
                        <mat-hint>*Opcional</mat-hint>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>Rango de fechas</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="startDate" placeholder="Fecha de inicio">
                                <input matEndDate formControlName="endDate" placeholder="Fecha de finalización">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <mat-hint>Historial para promedio de ventas</mat-hint>
                            <mat-error *ngIf="form.get('startDate').hasError('matStartDateInvalid')">Fecha de inicio no válida
                            </mat-error>
                            <mat-error *ngIf="form.controls.endDate.hasError('matEndDateInvalid')">Fecha de finalización no válida
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>Rango de fechas</mat-label>
                            <mat-date-range-input [rangePicker]="picker2">
                                <input matStartDate formControlName="startDate2" placeholder="Fecha de inicio">
                                <input matEndDate formControlName="endDate2" placeholder="Fecha de finalización">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker2></mat-date-range-picker>
                            <mat-hint>Ventas del útimo mes</mat-hint>
                            <mat-error *ngIf="form.get('startDate2').hasError('matStartDateInvalid')">Fecha de inicio no válida
                            </mat-error>
                            <mat-error *ngIf="form.controls.endDate2.hasError('matEndDateInvalid')">Fecha de finalización no válida
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>Días del proveedor</mat-label>
                            <input formControlName="daysRequest" matInput type="number" required>
                            <mat-hint>Días que tarda un proveedor en realizar entrega</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>Días de abastecimiento</mat-label>
                            <input formControlName="supplyDays" matInput type="number" required>
                            <mat-hint>Días que se desea mantener abastecido</mat-hint>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <button fxFill mat-raised-button (click)="loadStatistics()" [disabled]="loading" color="primary">Ingresar Estadísticas</button>
                    <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" class="mt">
                        <h2>{{ brandName }}</h2>
                        <mat-progress-bar [value]="progress" mode="determinate" color="warn"></mat-progress-bar>
                    </div>
                    <div *ngIf="loading" fxLayout="row" class="loadMargin">
                        <h3>Cargando... {{ progress | number: '.2' }}%</h3>
                        <span fxFlex></span>
                        <h3>{{ currentIndex}}/{{ brands.length }}</h3>
                    </div>
                </mat-card-footer>
            </mat-card>
        </form>
    </div>
</div>