<div [ngClass]="{ 'app': !smallScreen, 'app-sm': smallScreen } ">
    <div class="section-content farmacia">
        <div>
            <header class="module-header" [ngClass]="{'padding-25': !smallScreen, 'padding-15': smallScreen }" fxLayoutAlign="start center" fxLayout="row wrap">
                <h4 class="product-font ma-0 module-title">Ordenes</h4> &nbsp;&nbsp;&nbsp;&nbsp;
                <h2 class="title1 product-font ma-0">Listado general de ordenes</h2>
            </header>
            <!-- <button mat-fab color="primary" class="fab mat-elevation-z10" (click)="newOrder()">
        <mat-icon>add</mat-icon><span class="extended-fab-button__text">Orden</span>
      </button> -->
            <button mat-mini-fab (click)="printReport()" color="warn" class="miniFab mat-elevation-z10">
        <mat-icon>print</mat-icon>
      </button>
            <mat-divider></mat-divider>
            <div fxLayout="row wrap" class="module-container " data-simplebar>
                <!-- <div class="container-strech"> -->
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
                    <span fxFlex></span>
                    <mat-card class="metric-card mat-elevation-z6">
                        <mat-card-header>
                            <mat-icon mat-card-avatar>tag</mat-icon>
                            <mat-card-title>Ventas</mat-card-title>
                            <mat-card-subtitle>Total de ventas</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="text-center">
                            <span fxFlex></span>
                            <h1 *ngIf="orders !== undefined">{{ getLength() }}</h1>
                            <span fxFlex></span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="metric-card mat-elevation-z6">
                        <mat-card-header>
                            <mat-icon mat-card-avatar>home</mat-icon>
                            <mat-card-title>Domicilios</mat-card-title>
                            <mat-card-subtitle>Total de domicilios</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="text-center">
                            <span fxFlex></span>
                            <h1 *ngIf="orders !== undefined">{{ groupBy('name') }}</h1>
                            <span fxFlex></span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="metric-card mat-elevation-z6">
                        <mat-card-header>
                            <mat-icon mat-card-avatar>paid</mat-icon>
                            <mat-card-title>Total</mat-card-title>
                            <mat-card-subtitle>Total recaudado</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="text-center">
                            <span fxFlex></span>
                            <h1 *ngIf="orders !== undefined">Q {{ getTotal() | number: '.2'}}</h1>
                            <span fxFlex></span>
                        </mat-card-content>
                    </mat-card>
                    <span fxFlex></span>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="costumers-header">
                    <mat-form-field appearance="outline" color="primary" class="findinput">
                        <mat-label>Sucursal</mat-label>
                        <mat-select [(ngModel)]="currentCellar" (selectionChange)="loadData(range.get('start').value, range.get('end').value)">
                            <mat-option value="all">Mostrar todas</mat-option>
                            <mat-option *ngFor="let c of cellars" [value]="c._id">
                                {{ c.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp; &nbsp;
                    <mat-form-field appearance="outline" color="primary" class="findinput">
                        <mat-label>Repartidor</mat-label>
                        <mat-select [(ngModel)]="currentUser" (selectionChange)="loadData(range.get('start').value, range.get('end').value)">
                            <mat-option value="all">Mostrar todos</mat-option>
                            <mat-option *ngFor="let c of users" [value]="c._id">
                                {{ c.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp; &nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Introduzca un rango de fechas</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Fecha de inicio">
                            <input matEndDate formControlName="end" placeholder="Fecha de finalización">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.get('start').hasError('matStartDateInvalid')">Fecha de inicio no válida</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha de finalización no válida</mat-error>
                    </mat-form-field>
                    <span fxFlex></span>
                    <mat-form-field appearance="outline" floatLabel="always" class="findinput">
                        <mat-label>Buscar</mat-label>
                        <mat-icon class="text-muted" matPrefix>search</mat-icon>
                        <input matInput (keyup)="applyFilter2($event)" type="text">
                    </mat-form-field>
                </div>
                <div *ngIf="orders !== undefined" class="allspace" data-simplebar>
                    <table mat-table matSort matTableResponsive [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z2 noborder-table ">
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon color="primary" class="material-icons-outlined">receipt_long</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="noOrder">
                            <th mat-header-cell *matHeaderCellDef> No. Orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.noOrder}} </td>
                        </ng-container>
                        <ng-container matColumnDef="noBill">
                            <th mat-header-cell *matHeaderCellDef> No. Factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.noBill}} </td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy HH:mm' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="nit">
                            <th mat-header-cell *matHeaderCellDef> Nit </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.nit}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.phone}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="payment">
                            <th mat-header-cell *matHeaderCellDef> Método de Pago </th>
                            <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
                        </ng-container>
                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef> Estado</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-chip-list *ngIf="element.deleted">
                                    <mat-chip style="background-color:brown; color: white;">
                                        Eliminada
                                    </mat-chip>
                                </mat-chip-list>
                                <mat-chip-list *ngIf="!element.deleted">
                                    <mat-chip *ngIf="element.state === 'ORDEN'">
                                        Creada
                                    </mat-chip>
                                    <mat-chip *ngIf="element.state === 'DESPACHO'" selected color="accent">
                                        Despachada
                                    </mat-chip>
                                    <mat-chip *ngIf="element.state === 'ENVIO'" selected color="primary">
                                        Enviada
                                    </mat-chip>
                                    <mat-chip *ngIf="element.state === 'ENTREGA'" selected color="warn">
                                        Entregada
                                    </mat-chip>
                                    <mat-chip *ngIf="element.state === 'DEVOLUCION'" selected color="warn">
                                        Devuelta
                                    </mat-chip>
                                </mat-chip-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let element"> Q {{element.total | number: '.2'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sellerCode">
                            <th mat-header-cell *matHeaderCellDef> Vendedor </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element._user">{{element.sellerCode}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="_user">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element._user">{{element._user.name}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="_cellar">
                            <th mat-header-cell *matHeaderCellDef> Sucursal </th>
                            <td mat-cell *matCellDef="let element">
                                {{element._cellar.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>info</mat-icon>
                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="selectOrder(element)" color="warn">
                    <mat-icon class="material-icons-outlined">preview</mat-icon> Consultar Orden
                  </button>
                                    <button mat-menu-item (click)="editOrder(element)" [disabled]="element.state !== 'ORDEN' && element.state !== 'DESPACHO' || element.deleted" color="warn">
                    <mat-icon class="material-icons-outlined">edit</mat-icon> Editar Orden
                  </button>
                                    <mat-divider></mat-divider>
                                    <button mat-menu-item [disabled]="element.state !== 'ORDEN' && element.state !== 'DESPACHO' || element.deleted" color="warn" (click)="delete(element)">
                    <mat-icon class="material-icons-outlined">block</mat-icon> Anular Orden
                  </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <!-- <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                    <div class="example-element-description">
                                        Editar Cliente

                                    </div>
                                </div>
                                </td>
                            </ng-container> -->

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay2;" class="example-element-row">
                        </tr>
                        <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplay2;"
                                class="example-element-row"
                                [class.example-expanded-row]="expandedElement === element"
                                (click)="expandedElement = expandedElement === element ? null : element">
                            </tr> -->
                        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
                    </table>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="center center" class="padding-15 loader-screen" *ngIf="orders === undefined">
                    <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>