<button *ngIf="(internalOrdersp && internalOrdersp.includes('create')) && collapse === false" mat-fab color="primary" class="fab mat-elevation-z10" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon><span class="extended-fab-button__text">Solicitar Pedido</span>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newOrder('PEDIDO')"><mat-icon>local_shipping</mat-icon> Pedido Normal</button>
    <button mat-menu-item (click)="newOrder('INGRESOS')"><mat-icon>fiber_new</mat-icon> Pedido de Nuevo Ingreso</button>
    <button mat-menu-item (click)="newOrder('REPOSICION')"><mat-icon>call_missed_outgoing</mat-icon> Pedido de Pendientes</button>
    <button mat-menu-item (click)="newOrder('FALTANTES')"><mat-icon>inventory_2</mat-icon> Pedido de Reposición</button>
</mat-menu>



<mat-sidenav-container [ngClass]="{'screen-space': !smallScreen, 'screen-space-sm': smallScreen}">
    <mat-sidenav opened="true" mode="over" [(opened)]="collapse" position="end" class="orderpanel" (open)="sidePanelOpened = true" (close)="sidePanelOpened = false">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="orderheader">
            <button mat-icon-button (click)="collapse=false"><mat-icon>close</mat-icon></button> &nbsp; &nbsp;
            <h2 class="ma-0">Nuevo Pedido</h2>
        </div>
        
        <div *ngIf="collapse">
            <app-new-request-new *ngIf="products !== undefined" [currentCellar]="currentCellar" [type]="type" [addedProducts]="addedProducts" [products]="products" [smallScreen]="smallScreen"></app-new-request-new>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="header" fxLayout="row wrap" fxLayoutAlign="start center">
            <h2 *ngIf="!smallScreen" class="product-font ma-0 T1">Solicitudes de pedidos</h2>
            <span fxFlex></span>
            <div [fxFlex]="smallScreen ? 50 : 'nogrow'" fxLayout="column wrap" class="ammounttitle active">
                <h1 class="ma-0 active"> {{ recibidos.length }}</h1>
                <small>Pedidos recibidos</small>
              </div>
              <div [fxFlex]="smallScreen ? 50 : 'nogrow'" fxLayout="column wrap" class="ammounttitle pasive">
                <h1 class="ma-0 pasive">{{ enviados.length }}</h1>
                <small>Solicitudes enviadas</small>
            </div>
        </div>




        <!-- SMALSCREEN  -->
        <div *ngIf="smallScreen" class="space-sm">
            <mat-tab-group mat-stretch-tabs color="accent" class="tab-space">
                
                <mat-tab label="Pedidos Solicitados">
                    <div  data-simplebar class="tab-sm" *ngIf="enviados.length > 0">
                        

                        <mat-card class="order-card" *ngFor="let a of enviados | orderBy: 'date' : true">
                            <mat-card-content>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="50px"><mat-icon class="pasive">local_shipping</mat-icon></div>
                                    <div fxFlex fxLayout="column wrap">
                                        <div fxLayout="row wrap" class="card-row">
                                            <div class="text-lg"><b>{{ a._cellar.name }}</b></div>
                                            <div fxFlex></div>
                                            <div>No. {{ a.noOrder }}</div>
                                        </div>
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" class="card-row">
                                            <mat-chip-list>
                                                <mat-chip *ngIf="a.state === 'ENVIO'"> Solicitado</mat-chip>
                                                <mat-chip *ngIf="a.state === 'RECHAZO'" selected color="primary">Rechazado</mat-chip>
                                                <mat-chip *ngIf="a.state === 'CONFIRMACION'" selected color="warn">Aceptado</mat-chip>
                                                <mat-chip *ngIf="a.state === 'DESPACHO'" color="accent">Despachado</mat-chip>
                                                <mat-chip *ngIf="a.state === 'ENTREGA'" color="accent">Entregado</mat-chip>
                                                <mat-chip *ngIf="a.state === 'REVISION'" color="accent">Revisado</mat-chip>
                                            </mat-chip-list> &nbsp; &nbsp;
                                            {{ a.date | date: 'dd/MM/yyyy HH:mm' }}
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px">
                                    <div fxFlex="25">Usuario:</div>
                                    <div fxFlex>{{ a._user.name }}</div>
                                </div>
                                <div fxLayout="row wrap" *ngIf="a._delivery" fxLayoutAlign="start center">
                                    <div fxFlex="25">Aceptación:</div>
                                    <div fxFlex>{{ a.timeInit ? a.timeInit : '-' }}</div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="25">Detalles:</div>
                                    <div fxFlex>{{ a.details }}</div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="details(a, 'local_shipping', 'pasive')">
                                    Ver detalles
                                </button>
                                <span fxFlex></span>
                                <button mat-icon-button *ngIf="(a.state === 'ENVIO' || a.state === 'RECHAZO') && (internalOrdersp && internalOrdersp.includes('delete'))" (click)="delete(a)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="center center"  class="tab" *ngIf="enviados.length === 0">
                        <mat-icon>local_shipping</mat-icon>
                        <span class="text-muted messagenot">Actualmente no hay ningún pedido recibido</span>
                    </div>
                </mat-tab>

                <mat-tab label="Pedidos Recibidos">
                    <div  data-simplebar class="tab-sm" *ngIf="recibidos.length > 0">
                    
                        <mat-card class="order-card" *ngFor="let a of recibidos | orderBy: 'timeDispatch' : true">
                            <mat-card-content>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="50px"><mat-icon class="active">call_received</mat-icon></div>
                                    <div fxFlex fxLayout="column wrap">
                                        <div fxLayout="row wrap" class="card-row">
                                            <div class="text-lg"><b>{{ a._cellar.name }}</b></div>
                                            <div fxFlex></div>
                                            <div>No. {{ a.noOrder }}</div>
                                        </div>
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" class="card-row">
                                            <mat-chip-list>
                                                <mat-chip selected color="accent">Despachado</mat-chip>
                                            </mat-chip-list>  &nbsp; &nbsp;
                                            {{ a.date | date: 'dd/MM/yyyy HH:mm' }}
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px">
                                    <div fxFlex="25">Usuario:</div>
                                    <div fxFlex>{{ a._user.name }}</div>
                                </div>
                                <div fxLayout="row wrap" *ngIf="a._delivery" fxLayoutAlign="start center">
                                    <div fxFlex="25">Repartidor:</div>
                                    <div fxFlex>{{ a._delivery.name }}</div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="25">Despacho:</div>
                                    <div fxFlex>{{ a.timeDispatch | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="25">Detalles:</div>
                                    <div fxFlex>{{ a.details }}</div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="details(a, 'call_received', 'active')">
                                    Ver detalles
                                </button>
                                <span fxFlex></span>
                                <button *ngIf="internalOrdersp && internalOrdersp.includes('update')" (click)="finish(a)" mat-button color="accent" matTooltip="Marcar como recibido">
                                    <mat-icon>task_alt</mat-icon>
                                    Recibido
                                </button>
                            </mat-card-actions>
                        </mat-card>

                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="center center"  class="tab" *ngIf="recibidos.length === 0">
                        <mat-icon>list_alt</mat-icon>
                        <span class="text-muted messagenot">Actualmente no hay ningún pedido recibido</span>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>






        <!-- BIGSCREEN  -->
        <div  *ngIf="!smallScreen && loading === false" class="space" data-simplebar>
            <div fxLayout="row wrap">
                <div fxFlex="50" class="tab-bg">
                    <div class="text-xlg title-row">
                        <b>Pedidos Solicitados</b>
                    </div>

                    <mat-card class="order-card" *ngFor="let a of enviados | orderBy: 'date' : true">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex="50px"><mat-icon class="pasive">local_shipping</mat-icon></div>
                                <div fxFlex fxLayout="column wrap">
                                    <div fxLayout="row wrap" class="card-row">
                                        <div class="text-lg"><b>{{ a._cellar.name }}</b></div>
                                        <div fxFlex></div>
                                        <div>No. {{ a.noOrder }}</div>
                                    </div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start center" class="card-row">
                                        <mat-chip-list>
                                            <mat-chip *ngIf="a.state === 'ENVIO'"> Solicitado</mat-chip>
                                            <mat-chip *ngIf="a.state === 'RECHAZO'" selected color="primary">Rechazado</mat-chip>
                                            <mat-chip *ngIf="a.state === 'CONFIRMACION'" selected color="warn">Aceptado</mat-chip>
                                            <mat-chip *ngIf="a.state === 'DESPACHO'" color="accent">Despachado</mat-chip>
                                            <mat-chip *ngIf="a.state === 'ENTREGA'" color="accent">Entregado</mat-chip>
                                            <mat-chip *ngIf="a.state === 'REVISION'" color="accent">Revisado</mat-chip>
                                        </mat-chip-list> &nbsp; &nbsp;
                                        {{ a.date | date: 'dd/MM/yyyy HH:mm' }}
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px">
                                <div fxFlex="25">Usuario:</div>
                                <div fxFlex>{{ a._user.name }}</div>
                            </div>
                            <div fxLayout="row wrap" *ngIf="a._delivery" fxLayoutAlign="start center">
                                <div fxFlex="25">Aceptación:</div>
                                <div fxFlex>{{ a.timeInit ? a.timeInit : '-' }}</div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex="25">Detalles:</div>
                                <div fxFlex>{{ a.details }}</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="details(a, 'local_shipping', 'pasive')">
                                Ver detalles
                            </button>
                            <span fxFlex></span>
                            <button mat-icon-button *ngIf="(a.state === 'ENVIO' || a.state === 'RECHAZO') && (internalOrdersp && internalOrdersp.includes('delete'))" (click)="delete(a)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="50" class="tab-bg">
                    <div *ngIf="recibidos.length > 0">
                        <div class="text-xlg title-row">
                            <b>Pedidos Recibidos</b>
                        </div>
                        <mat-card class="order-card" *ngFor="let a of recibidos | orderBy: 'timeDispatch' : true">
                            <mat-card-content>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="50px"><mat-icon class="active">call_received</mat-icon></div>
                                    <div fxFlex fxLayout="column wrap">
                                        <div fxLayout="row wrap" class="card-row">
                                            <div class="text-lg"><b>{{ a._cellar.name }}</b></div>
                                            <div fxFlex></div>
                                            <div>No. {{ a.noOrder }}</div>
                                        </div>
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" class="card-row">
                                            <mat-chip-list>
                                                <mat-chip selected color="accent">Despachado</mat-chip>
                                            </mat-chip-list>  &nbsp; &nbsp;
                                            {{ a.date | date: 'dd/MM/yyyy HH:mm' }}
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px">
                                    <div fxFlex="25">Usuario:</div>
                                    <div fxFlex>{{ a._user.name }}</div>
                                </div>
                                <div fxLayout="row wrap" *ngIf="a._delivery" fxLayoutAlign="start center">
                                    <div fxFlex="25">Repartidor:</div>
                                    <div fxFlex>{{ a._delivery.name }}</div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="25">Despacho:</div>
                                    <div fxFlex>{{ a.timeDispatch | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    <div fxFlex="25">Detalles:</div>
                                    <div fxFlex>{{ a.details }}</div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="details(a, 'call_received', 'active')">
                                    Ver detalles
                                </button>
                                <span fxFlex></span>
                                <button *ngIf="internalOrdersp && internalOrdersp.includes('update')" (click)="finish(a)" mat-button color="accent" matTooltip="Marcar como recibido">
                                    <mat-icon>task_alt</mat-icon>
                                    Recibido
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div  fxLayout="column wrap" fxLayoutAlign="center center" class="tab-bg" *ngIf="recibidos.length === 0">
                        <mat-icon>list_alt</mat-icon>
                        <span class="text-muted messagenot">Actualmente no hay ningún pedido recibido</span>
                    </div>
                </div>

            </div>
        </div>

        <div  *ngIf="!smallScreen && loading === true" class="space" fxLayout="column wrap" fxLayoutAlign="center center">
            <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>