.header {
    padding: 30px;
}

.clientspace {
    height: 500px;
    width: 100%;
}

.h2 {
    color: #0a1958;
}

.info-row {
    margin-bottom: 5px;
    margin-top: 3px;
}

.section {
    padding: 5px 10px;
}

.input-section {
    padding: 0px 30px;
}

.assigned-job {
    width: 90%;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
    .whitebg {
        background-color: white!important;
    }
}

.T {
    color: #045195;
}

.P {
    color: #b4de32;
}

.divider {
    margin-right: 15px;
}

.divider2 {
    margin-left: 10px;
}