.header, .footer, .space { padding: 10px; }
.notes { padding: 0px 10px; }
.space { max-height: 400px; }
.width-all { width: 100%; }
.inputpadding { padding: 0px 5px; }
.ordertype { padding: 5px 15px; }
textarea { resize: none; }
.detail { border-top: 1px solid rgba(0,0,0,0.1); height: calc(100vh - 447px); }
.detail-sm { border-top: 1px solid rgba(0,0,0,0.1); height: calc(100vh - 400px); }
.cell { padding: 5px 8px; }
.cell-header { font-size: 11px; }
.autocompletetext { padding: 0px 8px; }
.cell-row { padding: 8px; border: 1px solid rgba(0,0,0,0.1); height: 42px; }
.cell-input { padding: 10px 8px; border: 1px solid rgba(0,0,0,0.1); height: 42px; }